##
## Copyright 2014-2018 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
${database.allClassCopyright}package ${myBaseEntityPackageName};
#set ($myClassName = "${myBaseObjectClassName}")

import java.util.List;
import java.util.ArrayList;

#if ($table.hasOptionalRelation())
import org.dbflute.Entity;
#end
import org.dbflute.dbmeta.DBMeta;
import org.dbflute.dbmeta.AbstractEntity;
#if (${table.canBeColumnNullObject()})
import org.dbflute.dbmeta.accessory.ColumnNullObjectable;
#end
#if ($isSql2Entity)
import org.dbflute.dbmeta.accessory.CustomizeEntity;
#else
import org.dbflute.dbmeta.accessory.DomainEntity;
#end
#if ($table.needsMappingValueType())
import org.dbflute.dbmeta.accessory.MappingValueType;
#end
#if ($table.needsRelationOptionalEntityImport())
import ${database.relationOptionalEntityClassName};
#end
#if ($table.hasAllCommonColumn())
import ${glPackageBaseCommon}.${glEntityDefinedCommonColumn};
#end
#if (!$isSql2Entity)
import ${glPackageBaseCommon}.${glDBMetaInstanceHandler};
#end
#if ($table.hasClassification())
import ${glPackageBaseCommon}.${glCDef};
#end
import ${myExtendedEntityPackageName}.*;
#if ($table.isLoadableCustomizeEntity())
import ${glPackageExtendedEntity}.*;
#end
#if ($table.hasColumnNullObjectProviderImport())
import ${table.columnNullObjectProviderPackage}.*;
#end
#if ($table.hasRelationalNullObjectProviderImport())
import ${table.relationalNullObjectProviderPackage}.*;
#end
#set ($myEntityInterfaceDef = "")
#if ($isSql2Entity)
#set ($myEntityInterfaceDef = "CustomizeEntity")
#else
#set ($myEntityInterfaceDef = "DomainEntity")
#end
#if (${table.hasAllCommonColumn()})
#set ($myEntityInterfaceDef = "${myEntityInterfaceDef}, ${glEntityDefinedCommonColumn}")
#end
#if (${table.canBeColumnNullObject()})
#set ($myEntityInterfaceDef = "${myEntityInterfaceDef}, ColumnNullObjectable")
#end

/**
 * The entity of ${table.basicInfoDispString}. <br>
#if ($table.isCommentForJavaDocValid())
 * ${table.commentForJavaDoc}
#end
 * <pre>
 * [primary-key]
 *     ${table.primaryKeyNameCommaString}
 *
 * [column]
 *     ${table.columnNameCommaString}
 *
 * [sequence]
 *     ${table.definedSequenceName}
 *
 * [identity]
 *     ${table.identityColumnName}
 *
 * [version-no]
 *     ${table.versionNoColumnName}
 *
 * [foreign table]
 *     ${table.foreignTableNameCommaString}
 *
 * [referrer table]
 *     ${table.referrerTableNameCommaString}
 *
 * [foreign property]
 *     ${table.foreignPropertyNameCommaString}
 *
 * [referrer property]
 *     ${table.referrerPropertyNameCommaString}
 *
 * [get/set template]
 * /= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
#foreach ($col in $table.columns)
 * ${col.javaNative} ${col.uncapitalisedJavaName} = entity.get${col.javaName}();
#end
#foreach ($col in $table.columns)
 * entity.set${col.javaName}(${col.uncapitalisedJavaName});
#end
 * = = = = = = = = = =/
 * </pre>
 * @author ${database.classAuthor}
 */
public abstract class $myClassName extends AbstractEntity implements ${myEntityInterfaceDef} {

    // ===================================================================================
    //                                                                          Definition
    //                                                                          ==========
    /** The serial version UID for object serialization. (Default) */
    private static final long serialVersionUID = 1L;

    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
#foreach ($col in $table.columns)
    /** ${col.aliasExpression}${col.name}: {${col.columnDefinitionLineDisp}} */
    protected ${col.javaNative} _${col.uncapitalisedJavaName};

#end
#if (${table.canBeColumnNullObject()})
    /** Is the handling of column null object enabled? */
    protected boolean _columnNullObjectEnabled;

#end
    // ===================================================================================
    //                                                                             DB Meta
    //                                                                             =======
    /** {@inheritDoc} */
    public DBMeta asDBMeta() {
#if ($isSql2Entity)
        return ${myDBMetaPackageName}.${myDBMetaClassName}.getInstance();
#else
## not to depend on concrete DB meta (but little merit any more?)
        return ${glDBMetaInstanceHandler}.findDBMeta(asTableDbName());
#end
    }

    /** {@inheritDoc} */
    public String asTableDbName() {
        return "${table.tableDbName}";
    }

    // ===================================================================================
    //                                                                        Key Handling
    //                                                                        ============
    /** {@inheritDoc} */
    public boolean hasPrimaryKeyValue() {
#foreach ($col in $table.primaryKey)
        if (_${col.uncapitalisedJavaName} == null) { return false; }
#end
        return ${table.hasPrimaryKey()};
    }
#foreach ($uq in $table.keyableUniqueList)

    /**
     * To be unique by the unique column. <br>
     * You can update the entity by the key when entity update (NOT batch update).
     * ${uq.argsJavaDocString}
     */
    public void uniqueBy${uq.javaNameKeyword}(${uq.argsString}) {
        __uniqueDrivenProperties.clear();
#foreach ($col in $uq.columnList)
        __uniqueDrivenProperties.addPropertyName("${col.javaBeansRulePropertyName}");
#end
        ${uq.argsSetupString}
    }
#end

#if ($table.hasClassification())
    // ===================================================================================
    //                                                             Classification Property
    //                                                             =======================
#foreach ($col in $table.columns)
#if ($col.hasClassification())
#set ($classificationTop = $database.getClassificationTop($col.classificationName))
    /**
     * Get the value of ${col.uncapitalisedJavaName} as the classification of ${col.classificationName}. <br>
     * ${col.aliasExpression}${col.name}: {${col.columnDefinitionLineDisp}} <br>
#if ($classificationTop.hasTopComment())
     * ${classificationTop.topCommentForJavaDoc}
#end
     * <p>It's treated as case insensitive and if the code value is null, it returns null.</p>
     * @return The instance of classification definition (as ENUM type). (NullAllowed: when the column value is null)
     */
    public ${glCDef}.${col.classificationName} get${col.javaName}As${col.classificationName}() {
        return ${glCDef}.${col.classificationName}.codeOf(get${col.javaName}());
    }

    /**
     * Set the value of ${col.uncapitalisedJavaName} as the classification of ${col.classificationName}. <br>
     * ${col.aliasExpression}${col.name}: {${col.columnDefinitionLineDisp}} <br>
#if ($classificationTop.hasTopComment())
     * ${classificationTop.topCommentForJavaDoc}
#end
     * @param cdef The instance of classification definition (as ENUM type). (NullAllowed: if null, null value is set to the column)
     */
    public void set${col.javaName}As${col.classificationName}(${glCDef}.${col.classificationName} cdef) {
#if ($col.isJavaNativeNumberObject())
        set${col.javaName}(cdef != null ? toNumber(cdef.code(), ${col.javaNative}.class) : null);
#elseif ($col.isJavaNativeBooleanObject())
        set${col.javaName}(cdef != null ? toBoolean(cdef.code()) : null);
#else
        set${col.javaName}(cdef != null ? cdef.code() : null);
#end
    }
#if ($classificationTop.isSisterBooleanHandling())

    /**
     * Set the value of ${col.uncapitalisedJavaName} as boolean. <br>
     * ${col.aliasExpression}${col.name}: {${col.columnDefinitionLineDisp}} <br>
#if ($classificationTop.hasTopComment())
     * ${classificationTop.topCommentForJavaDoc}
#end
     * @param determination The determination, true or false. (NullAllowed: if null, null value is set to the column)
     */
    public void set${col.javaName}AsBoolean(Boolean determination) {
        set${col.javaName}As${col.classificationName}(${glCDef}.${col.classificationName}.codeOf(determination));
    }
#end

#end
#end
    // ===================================================================================
    //                                                              Classification Setting
    //                                                              ======================
#foreach ($col in $table.columns)
#if ($col.hasClassification())
#foreach ($classificationElement in $col.classificationTop.classificationElementList)
    /**
     * Set the value of ${col.uncapitalisedJavaName} as ${classificationElement.name} (${classificationElement.code}). <br>
     * $database.buildClassificationApplicationCommentForJavaDoc($classificationElement)
     */
#if ($classificationElement.isDeprecated())
    @Deprecated
#end
    public void set${col.javaName}_${classificationElement.name}() {
        set${col.javaName}As${col.classificationName}(${glCDef}.${col.classificationName}.${classificationElement.name});
    }

#end
#end
#end
    // ===================================================================================
    //                                                        Classification Determination
    //                                                        ============================
#foreach ($col in $table.columns)
#if ($col.hasClassification())
#foreach ($classificationElement in $col.classificationTop.classificationElementList)
    /**
     * Is the value of ${col.uncapitalisedJavaName} ${classificationElement.name}? <br>
     * $database.buildClassificationApplicationCommentForJavaDoc($classificationElement)
     * <p>It's treated as case insensitive and if the code value is null, it returns false.</p>
     * @return The determination, true or false.
     */
#if ($classificationElement.isDeprecated())
    @Deprecated
#end
    public boolean is${col.javaName}${classificationElement.name}() {
        ${glCDef}.${col.classificationName} cdef = get${col.javaName}As${col.classificationName}();
        return cdef != null ? cdef.equals(${glCDef}.${col.classificationName}.${classificationElement.name}) : false;
    }

#end
#foreach ($group in $col.classificationTop.groupList)
#if ($group.hasGroupComment())
    /**
     * ${group.groupCommentForJavaDoc} <br>
     * ${group.buildElementDisp()}
     * @return The determination, true or false.
     */
#end
    public boolean is${col.javaName}_${group.groupNameInitCap}() {
        ${glCDef}.${col.classificationName} cdef = get${col.javaName}As${col.classificationName}();
        return cdef != null && cdef.is${group.groupNameInitCap}();
    }

#end
#end
#end
#if ($table.hasImplicitClassification())
    // ===================================================================================
    //                                                           Classification Name/Alias
    //                                                           =========================
#foreach ($col in $table.columns)
#if ($col.hasClassification())
#if (!$col.isTableClassification())
#if ($col.hasClassificationName())
#if ($col.isMakeClassificationGetterOfNameEnabled())
    /**
     * Get the value of the column '${col.uncapitalisedJavaName}' as classification name.
     * @return The string of classification name. (NullAllowed: when the column value is null)
     */
    public String get${col.JavaName}Name() {
        ${glCDef}.${col.classificationName} cdef = get${col.javaName}As${col.classificationName}();
        return cdef != null ? cdef.name() : null;
    }

#end
#end
#if (${col.hasClassificationAlias()})
#if ($col.isMakeClassificationGetterOfAliasEnabled())
    /**
     * Get the value of the column '${col.uncapitalisedJavaName}' as classification alias.
     * @return The string of classification alias. (NullAllowed: when the column value is null)
     */
    public String get${col.JavaName}Alias() {
        ${glCDef}.${col.classificationName} cdef = get${col.javaName}As${col.classificationName}();
        return cdef != null ? cdef.alias() : null;
    }

#end
#end
#end
#end
#end
#end
#end
    // ===================================================================================
    //                                                                    Foreign Property
    //                                                                    ================
#foreach ($fk in $table.foreignKeys)
#set ($foreignEntityClassName = "${fk.foreignPropertyEntityDefinitionType}")
#set ($foreignVariableName = "_${fk.foreignPropertyName}")
    /** ${fk.foreignSimpleDisp}. */
    protected ${foreignEntityClassName} ${foreignVariableName};

    /**
     * [get] ${fk.foreignDispForJavaDoc} <br>
#if ($fk.isForeignPropertyOptionalEntity())
     * Optional: alwaysPresent(), ifPresent().orElse(), get(), ...
     * @return The entity of foreign property '${fk.foreignJavaBeansRulePropertyName}'. (NotNull, EmptyAllowed: when e.g. null FK column, no setupSelect)
#else
     * @return The entity of foreign property '${fk.foreignJavaBeansRulePropertyName}'. (NullAllowed: when e.g. null FK column, no setupSelect)
#end
     */
    public ${foreignEntityClassName} get${fk.foreignJavaBeansRulePropertyNameInitCap}() {
#if ($fk.isForeignPropertyOptionalEntity())
        if (${foreignVariableName} == null) { ${foreignVariableName} = ${database.relationOptionalEntitySimpleName}.relationEmpty(this, "${fk.foreignJavaBeansRulePropertyName}"); }
#end
#if ($fk.canBeRelationalNullObjectForeign())
#if ($fk.isForeignPropertyOptionalEntity())
        if (${foreignVariableName}.${fk.relationalNullObjectForeignEmptyExp}) { ${foreignVariableName} = ${fk.relationalNullObjectForeignProviderExp}; }
#else
        if (${foreignVariableName} == null) { ${foreignVariableName} = ${fk.relationalNullObjectForeignProviderExp}; }
#end
#end
        return ${foreignVariableName};
    }

    /**
     * [set] ${fk.foreignDispForJavaDoc}
     * @param ${fk.foreignPropertyName} The entity of foreign property '${fk.foreignJavaBeansRulePropertyName}'. (NullAllowed)
     */
    public void set${fk.foreignJavaBeansRulePropertyNameInitCap}(${foreignEntityClassName} ${fk.foreignPropertyName}) {
        ${foreignVariableName} = ${fk.foreignPropertyName};
    }

#end
#foreach ($referrer in $table.referrerAsOneList)
#set ($referrerEntityClassName = "${referrer.referrerPropertyEntityDefinitionTypeAsOne}")
#set ($referrerVariableName = "_${referrer.referrerPropertyNameAsOne}")
    /** ${referrer.referrerSimpleDispAsOne}. */
    protected ${referrerEntityClassName} ${referrerVariableName};

    /**
     * [get] ${referrer.referrerDispAsOneForJavaDoc}
#if ($referrer.isReferrerPropertyOptionalEntityAsOne())
     * Optional: alwaysPresent(), ifPresent().orElse(), get(), ...
     * @return the entity of foreign property(referrer-as-one) '${referrer.referrerJavaBeansRulePropertyNameAsOne}'. (NotNull, EmptyAllowed: when e.g. no data, no setupSelect)
#else
     * @return the entity of foreign property(referrer-as-one) '${referrer.referrerJavaBeansRulePropertyNameAsOne}'. (NullAllowed: when e.g. no data, no setupSelect)
#end
     */
    public ${referrerEntityClassName} get${referrer.referrerJavaBeansRulePropertyNameAsOneInitCap}() {
#if ($referrer.isReferrerPropertyOptionalEntityAsOne())
        if (${referrerVariableName} == null) { ${referrerVariableName} = ${database.relationOptionalEntitySimpleName}.relationEmpty(this, "${referrer.referrerJavaBeansRulePropertyNameAsOne}"); }
#end
#if ($referrer.canBeRelationalNullObjectReferrerAsOne())
#if ($referrer.isForeignPropertyOptionalEntity())
        if (${referrerVariableName}.${referrer.relationalNullObjectReferrerAsOneEmptyExp}) { ${referrerVariableName} = ${referrer.relationalNullObjectReferrerAsOneProviderExp}; }
#else
        if (${referrerVariableName} == null) { ${referrerVariableName} = ${referrer.relationalNullObjectReferrerAsOneProviderExp}; }
#end
#end
        return ${referrerVariableName};
    }

    /**
     * [set] ${referrer.referrerDispAsOneForJavaDoc}
     * @param ${referrer.referrerJavaBeansRulePropertyNameAsOne} The entity of foreign property(referrer-as-one) '${referrer.referrerJavaBeansRulePropertyNameAsOne}'. (NullAllowed)
     */
    public void set${referrer.referrerJavaBeansRulePropertyNameAsOneInitCap}(${referrerEntityClassName} ${referrer.referrerJavaBeansRulePropertyNameAsOne}) {
        ${referrerVariableName} = ${referrer.referrerJavaBeansRulePropertyNameAsOne};
    }

#end
    // ===================================================================================
    //                                                                   Referrer Property
    //                                                                   =================
#foreach ($referrer in $table.referrerAsManyList)
#set ($referrerEntityClassName = "${referrer.referrerTableExtendedEntityClassName}")
#set ($referrerVariableName = "_${referrer.referrerPropertyName}")
    /** ${referrer.referrerSimpleDisp}. */
    protected List<${referrerEntityClassName}> ${referrerVariableName};

    /**
     * [get] ${referrer.referrerDispForJavaDoc}
     * @return The entity list of referrer property '${referrer.referrerJavaBeansRulePropertyName}'. (NotNull: even if no loading, returns empty list)
     */
    public List<${referrerEntityClassName}> get${referrer.referrerJavaBeansRulePropertyNameInitCap}() {
        if (${referrerVariableName} == null) { ${referrerVariableName} = newReferrerList(); }
        return ${referrerVariableName};
    }

    /**
     * [set] ${referrer.referrerDispForJavaDoc}
     * @param ${referrer.referrerPropertyName} The entity list of referrer property '${referrer.referrerJavaBeansRulePropertyName}'. (NullAllowed)
     */
    public void set${referrer.referrerJavaBeansRulePropertyNameInitCap}(List<${referrerEntityClassName}> ${referrer.referrerPropertyName}) {
        ${referrerVariableName} = ${referrer.referrerPropertyName};
    }

#end
#if ($table.isLoadableCustomizeEntity())
#set ($domain = $table.loadableCustomizeDomain)
    protected ${domain.extendedEntityClassName} __innerDomain;

    protected ${domain.extendedEntityClassName} innerDomain() {
        if (__innerDomain == null) {
            __innerDomain = new ${domain.extendedEntityClassName}();
        }
        return __innerDomain;
    }

    /**
     * Prepare the inner instance of domain entity (basically for LoadReferrer).
     * <pre>
     * List&lt;UnpaidSummaryMember&gt; memberList = memberBhv.outsideSql()...;
     * List&lt;Member&gt; domainList = new ArrayList&lt;Member&gt;();
     * for (UnpaidSummaryMember member : memberList) {
     *     domainList.add(member.<span style="color: #CC4747">prepareDomain()</span>);
     * }
     * memberBhv.<span style="color: #CC4747">loadPurchaseList</span>(domainList, new ConditionBeanSetupper...);
     * for (UnpaidSummaryMember member : memberList) {
     *     Purchase purchase = member.<span style="color: #CC4747">getPurchaseList()</span>; <span style="color: #3F7E5E">// you can get it</span>
     *     ...
     * }
     * </pre>
     * @return The domain entity for this customize entity. (NotNull)
     */
    public ${domain.extendedEntityClassName} prepareDomain() {
#foreach ($exp in $table.loadableCustomizePrimaryKeySettingExpressionList)
        innerDomain().${exp};
#end
        return innerDomain();
    }

#foreach ($referrer in $domain.referrerAsManyList)
#set ($referrerEntityClassName = "${referrer.referrerTableExtendedEntityClassName}")
    /**
     * ${referrer.referrerDispForJavaDoc}
     * @return The entity list of referrer property '${referrer.referrerJavaBeansRulePropertyName}'. (NotNull: If it's not loaded yet, initializes the list instance of referrer as empty and returns it.)
     */
    public List<${referrerEntityClassName}> get${referrer.referrerJavaBeansRulePropertyNameInitCap}() {
        return innerDomain().get${referrer.referrerJavaBeansRulePropertyNameInitCap}();
    }

#end
#end
##
## it uses List and ArrayList to be able to specify detail import clause
##
    protected <ELEMENT> List<ELEMENT> newReferrerList() { // overriding to import
        return new ArrayList<ELEMENT>();
    }
#if (${table.canBeColumnNullObject()})

    // ===================================================================================
    //                                                                   Column NullObject
    //                                                                   =================
    /** {@inheritDoc} */
    public void enableColumnNullObject() {
        _columnNullObjectEnabled = true;
    }

    /** {@inheritDoc} */
    public void disableColumnNullObject() {
        _columnNullObjectEnabled = false;
    }
#end

    // ===================================================================================
    //                                                                      Basic Override
    //                                                                      ==============
    @Override
    protected boolean doEquals(Object obj) {
        if (obj instanceof $myClassName) {
            $myClassName other = ($myClassName)obj;
#foreach ($col in $table.equalsHashcodeColumnList)
            if (!xSV(_${col.uncapitalisedJavaName}, other._${col.uncapitalisedJavaName})) { return false; }
#end
            return true;
        } else {
            return false;
        }
    }

    @Override
    protected int doHashCode(int initial) {
        int hs = initial;
        hs = xCH(hs, asTableDbName());
#foreach ($col in $table.equalsHashcodeColumnList)
        hs = xCH(hs, _${col.uncapitalisedJavaName});
#end
        return hs;
    }

    @Override
    protected String doBuildStringWithRelation(String li) {
#if ($table.hasRelation())
        StringBuilder sb = new StringBuilder();
#foreach ($fk in $table.foreignKeys)
#set ($foreignVariableName = "_${fk.foreignPropertyName}")
#if ($fk.isForeignPropertyOptionalEntity())
        if (${foreignVariableName} != null && ${foreignVariableName}.isPresent())
#else
        if (${foreignVariableName} != null)
#end
        { sb.append(li).append(xbRDS(${foreignVariableName}, "${fk.foreignPropertyName}")); }
#end
#foreach ($referrer in $table.referrerAsOneList)
#set ($referrerVariableName = "_${referrer.referrerPropertyNameAsOne}")
#if ($referrer.isReferrerPropertyOptionalEntityAsOne())
        if (${referrerVariableName} != null && ${referrerVariableName}.isPresent())
#else
        if (${referrerVariableName} != null)
#end
        { sb.append(li).append(xbRDS(${referrerVariableName}, "${referrer.referrerPropertyNameAsOne}")); }
#end
#foreach ($referrer in $table.referrerAsManyList)
#set ($referrerVariableName = "_${referrer.referrerPropertyName}")
        if (${referrerVariableName} != null) { for (${referrer.referrerTableExtendedEntityClassName} et : ${referrerVariableName})
        { if (et != null) { sb.append(li).append(xbRDS(et, "${referrer.referrerPropertyName}")); } } }
#end
        return sb.toString();
#else
        return "";
#end
    }
#if ($table.hasOptionalRelation())
    protected <ET extends Entity> String xbRDS(${database.relationOptionalEntityClassName}<ET> et, String name) { // buildRelationDisplayString()
        return et.get().buildDisplayString(name, true, true);
    }
#end

    @Override
    protected String doBuildColumnString(String dm) {
        StringBuilder sb = new StringBuilder();
#foreach ($col in $table.columns)
#if ($col.isJavaNativeUtilDate())
        sb.append(dm).append(xfUD(_${col.uncapitalisedJavaName}));
#elseif ($col.isJavaNativeByteArray())
        sb.append(dm).append(xfBA(_${col.uncapitalisedJavaName}));
#else
        sb.append(dm).append(xfND(_${col.uncapitalisedJavaName}));
#end
#end
        if (sb.length() > dm.length()) {
            sb.delete(0, dm.length());
        }
        sb.insert(0, "{").append("}");
        return sb.toString();
    }

    @Override
    protected String doBuildRelationString(String dm) {
#if ($table.hasRelation())
        StringBuilder sb = new StringBuilder();
#foreach ($fk in $table.foreignKeys)
#set ($foreignVariableName = "_${fk.foreignPropertyName}")
#if ($fk.isForeignPropertyOptionalEntity())
        if (${foreignVariableName} != null && ${foreignVariableName}.isPresent())
#else
        if (${foreignVariableName} != null)
#end
        { sb.append(dm).append("${fk.foreignPropertyName}"); }
#end
#foreach ($referrer in $table.referrerAsOneList)
#set ($referrerVariableName = "_${referrer.referrerPropertyNameAsOne}")
#if ($referrer.isReferrerPropertyOptionalEntityAsOne())
        if (${referrerVariableName} != null && ${referrerVariableName}.isPresent())
#else
        if (${referrerVariableName} != null)
#end
        { sb.append(dm).append("${referrer.referrerPropertyNameAsOne}"); }
#end
#foreach ($referrer in $table.referrerAsManyList)
#set ($referrerVariableName = "_${referrer.referrerPropertyName}")
        if (${referrerVariableName} != null && !${referrerVariableName}.isEmpty())
        { sb.append(dm).append("${referrer.referrerPropertyName}"); }
#end
        if (sb.length() > dm.length()) {
            sb.delete(0, dm.length()).insert(0, "(").append(")");
        }
        return sb.toString();
#else
        return "";
#end
    }

    @Override
    public ${myExtendedObjectClassName} clone() {
        return (${myExtendedObjectClassName})super.clone();
    }

#set ($propertyLoopIndex = 0)
#foreach ($col in $table.columns)
#if ($propertyLoopIndex == 0)
    // ===================================================================================
    //                                                                            Accessor
    //                                                                            ========
#else

#end
    /**
     * [get] ${col.aliasExpression}${col.name}: {${col.columnDefinitionLineDisp}} <br>
#if ($col.isCommentForJavaDocValid())
     * ${col.commentForJavaDoc}
#end
#if ($col.isNotNull())
     * @return The value of the column '${col.name}'. (basically NotNull if selected: for the constraint)
#else
     * @return The value of the column '${col.name}'. (NullAllowed even if selected: for no constraint)
#end
     */
#if ($col.needsStringClobHandling())
    @MappingValueType(keyName = "stringClobType")
#end
#if ($col.needsPostgreSQLByteaHandling())
    @MappingValueType(keyName = "postgreSqlByteaType")
#end
#if ($col.needsPostgreSQLOidHandling())
    @MappingValueType(keyName = "postgreSqlOidType")
#end
#if ($col.needsOracleDateHandling())
    @MappingValueType(keyName = "oracleDateType")
#end
    public ${col.javaNative} get${col.javaName}() {
        checkSpecifiedProperty("${col.javaBeansRulePropertyName}");
#if ($col.canBeColumnNullObject())
#if ($col.isEntityConvertEmptyStringToNull())
        if (_columnNullObjectEnabled && convertEmptyToNull(_${col.uncapitalisedJavaName}) == null)
        { _${col.uncapitalisedJavaName} = ${col.columnNullObjectProviderExp}; }
#else
        if (_columnNullObjectEnabled && _${col.uncapitalisedJavaName} == null)
        { _${col.uncapitalisedJavaName} = ${col.columnNullObjectProviderExp}; }
#end
#end
#if ($col.isEntityConvertEmptyStringToNull())
        return convertEmptyToNull(_${col.uncapitalisedJavaName});
#else
        return _${col.uncapitalisedJavaName};
#end
    }

    /**
     * [set] ${col.aliasExpression}${col.name}: {${col.columnDefinitionLineDisp}} <br>
#if ($col.isCommentForJavaDocValid())
     * ${col.commentForJavaDoc}
#end
#if ($col.isNotNull())
     * @param ${col.uncapitalisedJavaName} The value of the column '${col.name}'. (basically NotNull if update: for the constraint)
#else
     * @param ${col.uncapitalisedJavaName} The value of the column '${col.name}'. (NullAllowed: null update allowed for no constraint)
#end
     */
    ${col.propertySettingModifier} void set${col.javaName}(${col.javaNative} ${col.uncapitalisedJavaName}) {
#if ($col.hasCheckClassificationCodeOnEntity())
        checkClassificationCode("${col.name}", ${glCDef}.DefMeta.${col.classificationName}, ${col.uncapitalisedJavaName});
#end
        registerModifiedProperty("${col.javaBeansRulePropertyName}");
        _${col.uncapitalisedJavaName} = ${col.uncapitalisedJavaName};
    }
#set ($propertyLoopIndex = $propertyLoopIndex + 1)
#end
#if ($table.hasAllCommonColumn())
#foreach ($columnName in ${database.commonColumnNameConversionList})
#set ($filteredColumnName = ${database.filterCommonColumn(${columnName})})
#set ($commonColumnMap = ${database.commonColumnMap})
#set ($columnType = ${commonColumnMap.get(${columnName})})
#set ($javaNative = ${database.convertJavaNativeByJdbcType(${columnType})})
#set ($javaName = ${database.convertJavaNameByJdbcNameAsColumn(${filteredColumnName})})
#set ($uncapitalisedJavaName = ${database.convertUncapitalisedJavaNameByJdbcNameAsColumn(${filteredColumnName})})
#set ($targetJavaName = ${table.findTargetColumnJavaNameByCommonColumnName(${columnName})})

    /** {@inheritDoc} */
    public ${javaNative} get${javaName}() {
        return get${targetJavaName}();
    }

    /** {@inheritDoc} */
    public void set${javaName}(${javaNative} ${uncapitalisedJavaName}) {
        set${targetJavaName}(${uncapitalisedJavaName});
    }
#end
#end
#foreach ($col in $table.columns)
#if ($col.isPropertySettingModifierClosed())

    /**
     * For framework so basically DON'T use this method.
#if ($col.isNotNull())
     * @param ${col.uncapitalisedJavaName} The value of the column '${col.name}'. (basically NotNull if update: for the constraint)
#else
     * @param ${col.uncapitalisedJavaName} The value of the column '${col.name}'. (NullAllowed: null update allowed for no constraint)
#end
     */
    public void mynativeMapping${col.javaName}(${col.javaNative} ${col.uncapitalisedJavaName}) {
        set${col.javaName}(${col.uncapitalisedJavaName});
    }
#end
#end
}
