##
## Copyright 2014-2018 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
<!DOCTYPE html>
<html lang="en"> <!-- main language (to avoid HTML validator) -->
<head>
    <meta charset="UTF-8" />
    <title>${table.tableMap.appName} lastadoc</title>
    <style type="text/css">
/* -------------------------------------------------
                                             Core
------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", "MS P Gothic", "MS Pゴシック", sans-serif;
    font-size: 80%;
    margin: 10px 5px 5px 15px;
    background-color: #F9FCEB;
}

/* -------------------------------------------------
                                     Whole Header
------------------------------------------------- */
h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    padding: 3px 0;
    background-color: #882255;
    color: #F9FCEB;
    text-indent: 2em;
    letter-spacing: 0.2em;
}
h2 {
    font-size: 2.5em;
    margin-top: 2.5em;
    margin-bottom: 20px;
    padding: 3px 0;
    background-color: #9e4873;
    color: #F9FCEB;
    text-indent: 2em;
    letter-spacing: 0.2em;
}
h3 {
    margin: 2em 0 0.5em 0;
    font-size: 1.8em;
    border-left: 0.5em solid #882255;
    background-color: #CFA7BB;
    text-indent: 0.3em;
    line-height: 1.5em;
}
h4 {
    padding: 0 0 0 10px;
    margin: 1em 10% 0 1em;
    border-top: solid 1px #882255;
    border-bottom: solid 1px #882255;
    font-size: 1.4em;
    color: #333333;
}

/* -------------------------------------------------
                                     Whole Header
------------------------------------------------- */
.navilinkarea {
    text-align: right;
}
.sisterlink {
    margin-top: 0.6em;
    font-size: 120%;
}
.sistersublink {
    margin-top: 0.6em;
    font-size: 85%;
}
.sisterneighborlink {
    margin-top: 0.6em;
    font-size: 100%;
}

/* -------------------------------------------------
                              LastaFlute Contents
------------------------------------------------- */
.doctitle {
    font-size: 1.2em;
    color: #AA7777;
}
.docsubtitle {
    font-size: 1.0em;
    color: #AA7777;
}
.docmainvalue {
    font-size: 1.3em;
    color: #221188;
}
.docsubvalue {
    font-size: 1.1em;
    color: #221188;
}
p.docsubitem {
    padding: 0.2em 0 0 1.5em;
}
.docannotations {
    color: #666666;
}

table {
    border-collapse:collapse;
    margin: 0.3em 0 1em 0;
}
table, th {
    border: 1px solid #555;
}
th {
    background-color: #E4AAA4;
    font-size: 0.8em;
    padding: 0 0.2em 0 0.2em;
}
td {
    border-bottom: 1px dotted #aaa;
    border-left: 1px solid #555;
    padding:2px;
}
.nestedbean {
    margin: 0 0 0 1.5em;
}
.tablecomment {
    font-size: 0.8em;
    color: #3F7E5E;
    padding:0.5em 0 0.1em 1em;
    margin-bottom: 1em;
}
.fieldcomment {
    font-size: 0.9em;
    color: #3F7E5E;
}
.fieldannotations {
    font-size: 0.9em;
    color: #666666;
}
.rowcell {
    white-space: nowrap;
}
.rowcellnum {
    text-align: right;
    font-size: 0.5em;
    color: #444;
}
.flgcell {
    text-align: center;
}

/* inner table */
table.child {
    margin: 3px;
}
table.child th {
    font-size: 0.7em;
}
table.child, table.child td, table.child th {
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
}
.clsgroup {
    font-size: 1.2em;
    padding-left: 4px;
    padding-right: 4px;
}

/* -------------------------------------------------
                                        MailFlute
------------------------------------------------- */
.mailtitle {
    font-size: 1.5em;
}

/* -------------------------------------------------
                                       Supplement
------------------------------------------------- */
/* page top */
.pagetop {
    text-align: right
}
    </style>
</head>
<body>
<div style="position:fixed; width:95%"><div class="pagetop"><a href="#top">▲Page Top</a></div></div>
<h1>lastadoc for ${table.tableMap.appName}</h1>
<div class="navilinkarea">
#set ($linkDelimiter = "")
#if ($table.tableMap.hasSchemaHtml)
<p class="sisterneighborlink"><a href="${table.tableMap.schemaHtmlPath}">to SchemaHTML</a></p>
#end
#if ($table.tableMap.appList.size() > 1)
<p class="sisterneighborlink">
#foreach ($app in $table.tableMap.appList)
${linkDelimiter}
#if ($app.appName == $table.tableMap.appName)
to ${app.appName}
#else
<a href="${app.lastadocPath}">to ${app.appName}</a>
#end
#set ($linkDelimiter = "|")
#end
</p>
#end

<p class="sisterneighborlink">
#if ($table.tableMap.actionDocMetaList)
    <a href="#lastadoc_action">to action($table.tableMap.actionDocMetaList.size())</a>
#else
    <a href="#lastadoc_action">to action($table.columnList.size())</a>
#end
#if ($table.tableMap.jobDocMetaList && $table.tableMap.jobDocMetaList.size() > 0)
    | <a href="#lastadoc_job">to job($table.tableMap.jobDocMetaList.size())</a>
#end
#if ($table.tableMap.mailList.size() > 0)
    | <a href="#lastadoc_mail">to mail($table.tableMap.mailList.size())</a>
#end
#if ($table.tableMap.templateList.size() > 0)
    | <a href="#lastadoc_template">to template($table.tableMap.templateList.size())</a>
#end
#if ($table.tableMap.appclsMap.classificationTopList.size() > 0)
    | <a href="#lastadoc_appcls">to appcls($table.tableMap.appclsMap.classificationTopList.size())</a>
#end
#if ($table.tableMap.webclsMap.classificationTopList.size() > 0)
    | <a href="#lastadoc_webcls">to webcls($table.tableMap.webclsMap.classificationTopList.size())</a>
#end
#if ($table.tableMap.namedclsList.size() > 0)
    | <a href="#lastadoc_namedcls">to namedcls</a>
#end
$manager.getLastaDocHtmlMarkFreeGenDocNaviLink()
</p>
</div>

$generator.parse("om/java/plugin/lastaflute/doc/LaActionDocHtml.vm", null, "actionDocMetaList", $table.tableMap.actionDocMetaList)
$generator.parse("om/java/plugin/lastaflute/doc/LaJobDocHtml.vm", null, "jobDocMetaList", $table.tableMap.jobDocMetaList)
$generator.parse("om/java/plugin/lastaflute/doc/LaMailFluteDocHtml.vm", null, "mailList", $table.tableMap.mailList)
$generator.parse("om/java/plugin/lastaflute/doc/LaPmTemplateDocHtml.vm", null, "templateList", $table.tableMap.templateList)
$generator.parse("om/java/plugin/lastaflute/doc/LaAppCDefDocHtml.vm", null, "appclsMap", $table.tableMap.appclsMap)
#if ($table.tableMap.webclsMap)
$generator.parse("om/java/plugin/lastaflute/doc/LaAppCDefDocHtml.vm", null, "appclsMap", $table.tableMap.webclsMap)
#end
#if ($table.tableMap.namedclsList.size() > 0)
<span id="lastadoc_namedcls"></span> <!-- only for id handling -->
#foreach ($namedclsMap in $table.tableMap.namedclsList)
$generator.parse("om/java/plugin/lastaflute/doc/LaAppCDefDocHtml.vm", null, "appclsMap", $namedclsMap)
#end
#end
$manager.getLastaDocHtmlMarkFreeGenDocBody()
</body>
</html>
