${manager.allClassCopyright}package ${request.package};

import java.util.Map;
import java.util.LinkedHashMap;

import org.lastaflute.core.mail.LaTypicalPostcard;

/**
 * The postcard for MailFlute on LastaFlute.
 * @author FreeGen
 */
public class ${table.className} extends LaTypicalPostcard {

    public static final String PATH = "${table.domainPath}";

    protected String getBodyFile() {
        return PATH;
    }
#foreach ($property in $table.propertyList)

    public void set${property.capCalemName}(String ${property.uncapCalemName}) {
        registerVariable("${property.uncapCalemName}", ${property.uncapCalemName});
    }
#end
}
