##
## Copyright 2014-2019 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
${manager.allClassCopyright}package ${request.buildHierarchyPackage($table)};

import org.lastaflute.core.template.TemplateManager;
import org.lastaflute.core.template.TemplatePmb;
import org.lastaflute.core.template.TPCall;

/**
 * The Parameter-comMent style template (called PM template) on LastaFlute.
 * @author FreeGen
 */
public class ${table.className} implements TemplatePmb {

    public static final String PATH = "${table.resourcePath}";

    public static String parsedBy(TemplateManager templateManager, TPCall<${table.className}> oneArgLambda) {
        ${table.className} pmb = new ${table.className}();
        oneArgLambda.setup(pmb);
        return templateManager.parse(pmb);
    }

#foreach ($property in $table.propertyList)
    protected ${property.propertyType} ${property.uncapCalemName};
#end

    @Override
    public String getTemplatePath() {
        return PATH;
    }

    @Override
    public String toString() {
        StringBuilder sb = new StringBuilder();
        sb.append("${table.className}:{");
#set ($propIndex = 0)
#foreach ($property in $table.propertyList)
#if ($propIndex == 0)
        sb.append(${property.uncapCalemName});
#else
        sb.append(", ").append(${property.uncapCalemName});
#end
#set ($propIndex = $propIndex + 1)
#end
        sb.append("}");
        return sb.toString();
    }
#foreach ($property in $table.propertyList)

    /**
     * Get the value of ${property.uncapCalemName}, called by parameter comment.
     * @return The parameter value of ${property.uncapCalemName}. (NullAllowed: e.g. when no setting)
     */
    public ${property.propertyType} get${property.capCalemName}() {
        return ${property.uncapCalemName};
    }

    /**
     * Set the value of ${property.uncapCalemName}, used in parameter comment. <br>
     * Even if empty string, treated as empty plainly. So "IF pmb != null" is false if empty.
     * @param ${property.uncapCalemName} The parameter value for parameter comment. (NullAllowed)
     */
    public void set${property.capCalemName}(${property.propertyType} ${property.uncapCalemName}) {
        this.${property.uncapCalemName} = ${property.uncapCalemName};
    }
#end
}
