##
## Copyright 2014-2023 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
${manager.allClassCopyright}package ${request.package};

## import statement to same package classes are warned by new Eclipse
#if ($request.package != $request.optionMap.superClassPackage)
#if ($request.optionMap.interfaceSimpleName)
import ${request.optionMap.superClassPackage}.${request.optionMap.interfaceSimpleName};
#else
import ${request.optionMap.superClassPackage}.${request.optionMap.superClassSimpleName};
#end
#end
import org.lastaflute.core.direction.exception.ConfigPropertyNotFoundException;

/**
 * @author FreeGen
 */
#set ($$pluginDef = "")
#if ($request.optionMap.interfaceSimpleName)
#if ($request.optionMap.pluginInterface)
#set ($pluginDef = ", ${request.optionMap.pluginInterface}")
#end
public interface ${request.className} extends ${request.optionMap.interfaceSimpleName}${pluginDef} {
#else
#if ($request.optionMap.pluginInterface)
#set ($pluginDef = " extends ${request.optionMap.pluginInterface}")
#end
public interface ${request.className}${pluginDef} {
#end
#foreach ($column in $table.columnList)
#if (!$column.isExtends)

    /** The key of the configuration. e.g. ${column.propertyValueJavaDocEncoded} */
    String ${column.defName} = "${column.propertyKey}";
#end
#end

    /**
     * Get the value of property as {@link String}.
     * @param propertyKey The key of the property. (NotNull)
     * @return The value of found property. (NotNull: if not found, exception)
     * @throws ConfigPropertyNotFoundException When the property is not found.
     */
    String get(String propertyKey);

    /**
     * Is the property true?
     * @param propertyKey The key of the property which is boolean type. (NotNull)
     * @return The determination, true or false. (if not found, exception)
     * @throws ConfigPropertyNotFoundException When the property is not found.
     */
    boolean is(String propertyKey);
#foreach ($column in $table.columnList)
#if (!$column.isExtends)

    /**
     * Get the value for the key '${column.propertyKey}'. <br>
     * The value is, e.g. ${column.propertyValueJavaDocEncoded} <br>
#if ($column.hasComment)
#if ($column.isMultipleLineComment)
     * comment: <br>
     * ${column.commentJavaDocEncoded}
#else
     * comment: ${column.commentJavaDocEncoded}
#end
#end
     * @return The value of found property. (NotNull: if not found, exception but basically no way)
     */
    String get${column.capCamelName}();
#if ($column.mayBeIntegerProperty)

    /**
     * Get the value for the key '${column.propertyKey}' as {@link Integer}. <br>
     * The value is, e.g. ${column.propertyValueJavaDocEncoded} <br>
#if ($column.hasComment)
#if ($column.isMultipleLineComment)
     * comment: <br>
     * ${column.commentJavaDocEncoded}
#else
     * comment: ${column.commentJavaDocEncoded}
#end
#end
     * @return The value of found property. (NotNull: if not found, exception but basically no way)
     * @throws NumberFormatException When the property is not integer.
     */
    Integer get${column.capCamelName}AsInteger();
#end
#if ($column.mayBeLongProperty)

    /**
     * Get the value for the key '${column.propertyKey}' as {@link Long}. <br>
     * The value is, e.g. ${column.propertyValueJavaDocEncoded} <br>
#if ($column.hasComment)
#if ($column.isMultipleLineComment)
     * comment: <br>
     * ${column.commentJavaDocEncoded}
#else
     * comment: ${column.commentJavaDocEncoded}
#end
#end
     * @return The value of found property. (NotNull: if not found, exception but basically no way)
     * @throws NumberFormatException When the property is not long.
     */
    Long get${column.capCamelName}AsLong();
#end
#if ($column.mayBeDecimalProperty)

    /**
     * Get the value for the key '${column.propertyKey}' as {@link java.math.BigDecimal}. <br>
     * The value is, e.g. ${column.propertyValueJavaDocEncoded} <br>
#if ($column.hasComment)
#if ($column.isMultipleLineComment)
     * comment: <br>
     * ${column.commentJavaDocEncoded}
#else
     * comment: ${column.commentJavaDocEncoded}
#end
#end
     * @return The value of found property. (NotNull: if not found, exception but basically no way)
     * @throws NumberFormatException When the property is not decimal.
     */
    java.math.BigDecimal get${column.capCamelName}AsDecimal();
#end
#if ($column.mayBeDateProperty)

    /**
     * Get the value for the key '${column.propertyKey}' as {@link java.time.LocalDate}. <br>
     * The value is, e.g. ${column.propertyValueJavaDocEncoded} <br>
#if ($column.hasComment)
#if ($column.isMultipleLineComment)
     * comment: <br>
     * ${column.commentJavaDocEncoded}
#else
     * comment: ${column.commentJavaDocEncoded}
#end
#end
     * @return The value of found property. (NotNull: if not found, exception but basically no way)
     */
    java.time.LocalDate get${column.capCamelName}AsDate();
#end
#if ($column.mayBeBooleanProperty)

    /**
     * Is the property for the key '${column.propertyKey}' true? <br>
     * The value is, e.g. ${column.propertyValueJavaDocEncoded} <br>
#if ($column.hasComment)
#if ($column.isMultipleLineComment)
     * comment: <br>
     * ${column.commentJavaDocEncoded}
#else
     * comment: ${column.commentJavaDocEncoded}
#end
#end
     * @return The determination, true or false. (if not found, exception but basically no way)
     */
    boolean is${column.capCamelName}();
#end
#end
#end

    /**
     * The simple implementation for configuration.
     * @author FreeGen
     */
    public static class SimpleImpl extends ${request.optionMap.superClassSimpleName} implements ${request.className} {

        /** The serial version UID for object serialization. (Default) */
        private static final long serialVersionUID = 1L;
#foreach ($column in $table.columnList)
#if (!$column.isExtends)

#if ($column.isOverride)
        @Override
#end
        public String get${column.capCamelName}() {
            return get(${request.className}.${column.defName});
        }
#if ($column.mayBeIntegerProperty)

#if ($column.isOverride)
        @Override
#end
        public Integer get${column.capCamelName}AsInteger() {
            return getAsInteger(${request.className}.${column.defName});
        }
#end
#if ($column.mayBeLongProperty)

#if ($column.isOverride)
        @Override
#end
        public Long get${column.capCamelName}AsLong() {
            return getAsLong(${request.className}.${column.defName});
        }
#end
#if ($column.mayBeDecimalProperty)

#if ($column.isOverride)
        @Override
#end
        public java.math.BigDecimal get${column.capCamelName}AsDecimal() {
            return getAsDecimal(${request.className}.${column.defName});
        }
#end
#if ($column.mayBeDateProperty)

#if ($column.isOverride)
        @Override
#end
        public java.time.LocalDate get${column.capCamelName}AsDate() {
            return getAsDate(${request.className}.${column.defName});
        }
#end
#if ($column.mayBeBooleanProperty)

#if ($column.isOverride)
        @Override
#end
        public boolean is${column.capCamelName}() {
            return is(${request.className}.${column.defName});
        }
#end
#end
#end
#if ($request.optionMap.isUseDefaultConfigAtGeneration)

        @Override
        protected java.util.Map<String, String> prepareGeneratedDefaultMap() {
            java.util.Map<String, String> defaultMap = super.prepareGeneratedDefaultMap();
#foreach ($column in $table.columnList)
            defaultMap.put(${request.className}.${column.defName}, ${column.propertyValueStringLiteral});
#end
            return defaultMap;
        }
#end
    }
}
