##
## Copyright 2014-2017 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
${manager.allClassCopyright}package ${request.package};

#if ($request.tableMap.superClassPackage)
import ${request.tableMap.superClassPackage}.${request.tableMap.superClassSimpleName};
#else
import org.lastaflute.core.message.UserMessages;
#end
#set ($hasMessage = false)
#foreach ($column in $table.columnList)
#if (!$column.isExtends)
#if (!$column.isLabel)
#set ($hasMessage = true)
#end
#end
#end
#if ($hasMessage)
import org.lastaflute.core.message.UserMessage;
#end

/**
 * The keys for message.
 * @author FreeGen
 */
#if ($request.tableMap.superClassPackage)
public class ${request.className} extends ${request.tableMap.superClassSimpleName} {
#else
public class ${request.className} extends UserMessages {
#end

    /** The serial version UID for object serialization. (Default) */
    private static final long serialVersionUID = 1L;
#foreach ($column in $table.columnList)
#if (!$column.isExtends)
#if (!$column.isOverride)

    /** The key of the message: ${column.propertyValueHtmlEncoded} */
    public static final String ${column.defName} = "{${column.propertyKey}}";
#end
#end
#end
#foreach ($column in $table.columnList)
#if (!$column.isExtends)
#if (!$column.isLabel)

#if ($column.hasVariable)
    /**
     * Add the created action message for the key '${column.propertyKey}' with parameters.
     * <pre>
     * message: ${column.propertyValueHtmlEncoded}
#if ($column.comment != "")
     * comment: ${column.commentHtmlEncoded}
#end
     * </pre>
     * @param property The property name for the message. (NotNull)
#foreach ($argName in $column.variableArgNameList)
     * @param ${argName} The parameter ${argName} for message. (NotNull)
#end
     * @return this. (NotNull)
     */
#if ($column.isOverride)
    @Override
#end
    public ${request.className} add${column.capCamelName}(String property, ${column.variableArgDef}) {
        assertPropertyNotNull(property);
        add(property, new UserMessage(${column.defName}, ${column.variableArgSet}));
        return this;
    }
#else
    /**
     * Add the created action message for the key '${column.propertyKey}' with parameters.
     * <pre>
     * message: ${column.propertyValueHtmlEncoded}
#if ($column.comment != "")
     * comment: ${column.commentHtmlEncoded}
#end
     * </pre>
     * @param property The property name for the message. (NotNull)
     * @return this. (NotNull)
     */
#if ($column.isOverride)
    @Override
#end
    public ${request.className} add${column.capCamelName}(String property) {
        assertPropertyNotNull(property);
        add(property, new UserMessage(${column.defName}));
        return this;
    }
#end
#end
#end
#end
#if (!$request.tableMap.superClassPackage)

    /**
     * Assert the property is not null.
     * @param property The value of the property. (NotNull)
     */
    protected void assertPropertyNotNull(String property) {
        if (property == null) {
            String msg = "The argument 'property' for message should not be null.";
            throw new IllegalArgumentException(msg);
        }
    }
#end
}
