##
## Copyright 2014-2023 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
#set($typeDocMetaList = $typeDocMeta.nestTypeDocMetaList)
#if (!$typeDocMeta.parameterTypeDocMetaList.isEmpty())
    #set($typeDocMetaList = $typeDocMeta.parameterTypeDocMetaList)
#end
#if (!$typeDocMetaList.isEmpty())
#set($showPublicName = false)
#foreach ($nestTypeDocMeta in $typeDocMetaList)
#if (!$showPublicName && $nestTypeDocMeta.name != $nestTypeDocMeta.publicName)
#set($showPublicName = true)
#end
#end
<table>
    <thead>
    <tr>
        <th class="rownumhead">No.</th>
#if ($showPublicName)
        <th>public name</th>
#else
        <th>name</th>
#end
        <th>type</th>
        <th>comment</th>
        <th>annotations</th>
#if ($showPublicName)
        <th>property name</th>
#end
    </tr>
    </thead>
#foreach ($nestTypeDocMeta in $typeDocMetaList)
#set($rowspan = 1)
#if (!$nestTypeDocMeta.nestTypeDocMetaList.isEmpty())
#set($rowspan = 2)
#end
    <tr>
        <td class="rowcellnum" rowspan="$rowspan">${foreach.count}</td>
#if ($showPublicName)
        <td class="fieldpublicname">${nestTypeDocMeta.publicName}</td>
#else
        <td>${nestTypeDocMeta.name}</td>
#end
        <td><p title="$manager.htmlEscape($nestTypeDocMeta.typeName)">$manager.htmlEscape($nestTypeDocMeta.simpleTypeName)</p></td>
        <td class="fieldcomment">
            <p title="$!manager.htmlEscape($nestTypeDocMeta.comment)">$!manager.htmlEscape($nestTypeDocMeta.description)</p>
            <p>$!manager.htmlEscape($nestTypeDocMeta.value)</p>
        </td>
        <td class="fieldannotations">
#foreach ($annotation in $nestTypeDocMeta.annotationList)
            &#64;$!manager.htmlEscape(${annotation})
#if (!$foreach.isLast())
,
#end
#end
        </td>
#if ($showPublicName)
        <td class="fieldpropertyname">${nestTypeDocMeta.name}</td>
#end
    </tr>
#if (!$nestTypeDocMeta.nestTypeDocMetaList.isEmpty())
    <tr>
#set ($nestcolspan = 4)
#if ($showPublicName)
#set ($nestcolspan = 5)
#end
        <td colspan="$nestcolspan">
            <div class="nestedbean">
$generator.parse("om/java/plugin/lastaflute/doc/LaActionDocHtmlTypeDocMeta.vm", null, "typeDocMeta", $nestTypeDocMeta)
            </div>
        </td>
    </tr>
#end
#end
</table>
#end
