##
## Copyright 2014-2022 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
${database.allClassCopyright}package ${glPackageNss};
#set ($myClassName = "${myNestSelectSetupperClassName}")

import ${glPackageCQ}.${myConditionQueryClassName};

/**
 * The nest select set-upper of ${table.tableDbName}.
 * @author ${database.classAuthor}
 */
public class ${myClassName} {

    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
    protected final ${myConditionQueryClassName} _query;
    public ${myClassName}(${myConditionQueryClassName} query) { _query = query; }
    public boolean hasConditionQuery() { return _query != null; }

    // ===================================================================================
    //                                                                     Nested Relation
    //                                                                     ===============
#foreach ($fk in $table.joinableForeignKeyList)
#set ($tmpPropertyName = "${fk.foreignPropertyName}")
#set ($tmpPropertyNameInitCap = "${fk.foreignPropertyNameInitCap}")
#set ($dynamicFixedConditionArgs = "")
#set ($dynamicFixedConditionVariables = "")
#if ($fk.hasDynamicFixedCondition())
#set ($dynamicFixedConditionArgs = "${fk.dynamicFixedConditionFinalArgs}")
#set ($dynamicFixedConditionVariables = "${fk.dynamicFixedConditionVariables}")
#end
#set ($hasNestSelectSetupper = ${fk.hasForeignNestSelectSetupper()})
    /**
     * With nested relation columns to select clause. <br>
     * ${fk.foreignDispForJavaDoc}
#if ($fk.hasDynamicFixedCondition())
     * ${fk.dynamicFixedConditionArgsJavaDocString}
#end
#set ($setupSelectReturnType = "void")
#if ($hasNestSelectSetupper)
     * @return The set-upper of more nested relation. {...with[nested-relation].with[more-nested-relation]} (NotNull)
#set ($setupSelectReturnType = "${fk.foreignTableNestSelectSetupperClassName}")
#end
#if ($fk.isDeprecatedRelation())
     * @deprecated ${fk.deprecated}
#end
     */
#if ($fk.isDeprecatedRelation())
## deprecated in lambda needs to be suppressed at Eclipse-4.4
    @SuppressWarnings("deprecation")
#end
    public ${setupSelectReturnType} with${tmpPropertyNameInitCap}(${dynamicFixedConditionArgs}) {
        _query.xdoNss(() -> _query.query${tmpPropertyNameInitCap}(${dynamicFixedConditionVariables}));
#if ($hasNestSelectSetupper)
        return new ${fk.foreignTableNestSelectSetupperClassName}(_query.query${tmpPropertyNameInitCap}(${dynamicFixedConditionVariables}));
#end
    }
#end
#foreach ($referrer in $table.joinableReferrerAsOneList)
#set ($tmpPropertyName = "${referrer.referrerPropertyNameAsOne}")
#set ($tmpPropertyNameInitCap = "${referrer.referrerPropertyNameInitCapAsOne}")
#set ($hasNestSelectSetupper = ${referrer.hasReferrerNestSelectSetupper()})
    /**
     * With nested relation columns to select clause. <br>
     * ${referrer.referrerDispAsOneForJavaDoc}
#set ($setupSelectReturnType = "void")
#if ($hasNestSelectSetupper)
     * @return The set-upper of more nested relation. {...with[nested-relation].with[more-nested-relation]} (NotNull)
#set ($setupSelectReturnType = "${referrer.referrerTableNestSelectSetupperClassName}")
#end
#if ($referrer.isDeprecatedRelation())
     * @deprecated ${referrer.deprecated}
#end
     */
    public ${setupSelectReturnType} with${tmpPropertyNameInitCap}() {
        _query.xdoNss(() -> _query.query${tmpPropertyNameInitCap}());
#if ($hasNestSelectSetupper)
        return new ${referrer.referrerTableNestSelectSetupperClassName}(_query.query${tmpPropertyNameInitCap}());
#end
    }
#end
}
