##
## Copyright 2014-2014 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
${database.allClassCopyright}package ${glPackageBaseCommonAp};

import javax.sql.DataSource;

import org.dbflute.BehaviorSelector;
import org.dbflute.bhv.core.BehaviorCommandInvoker;
import org.dbflute.bhv.core.CommonColumnAutoSetupper;
import ${glPackageBaseCommonLib}.${glDBFluteModuleLib};
import ${glPackageExtendedBhvAp}.*;

/**
 * @author ${database.classAuthor}
 */
public class ${glDBFluteModuleAp} extends ${glDBFluteModuleLib} {

    public ${glDBFluteModuleAp}(DataSource dataSource) {
        super(dataSource);
    }

    @Override
    protected void setupBehavior(BehaviorCommandInvoker ker, BehaviorSelector tor, CommonColumnAutoSetupper per) {
        super.setupBehavior(ker, tor, per);

#foreach ($table in $database.behaviorTableList)
        {
            ${table.extendedBehaviorApClassName} bhv = new ${table.extendedBehaviorApClassName}();
#if ($table.isWritable())
            bhv.setBehaviorCommandInvoker(ker); bhv.setBehaviorSelector(tor); bhv.setCommonColumnAutoSetupper(per);
#else
            bhv.setBehaviorCommandInvoker(ker); bhv.setBehaviorSelector(tor);
#end
            bind(${table.extendedBehaviorApClassName}.class).toInstance(bhv);
        }
#end
    }
}
