##
## Copyright 2014-2018 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
<!DOCTYPE html>
<html lang="en"> <!-- main language (to avoid HTML validator) -->
<head>
	<meta charset="UTF-8" />
	<title>${database.projectName} schema</title>
#if ($database.isSchemaHtmlStyleSheetEmbedded())
	<style type="text/css">
${database.schemaHtmlStyleSheetEmbedded}
	</style>
#elseif ($database.isSchemaHtmlStyleSheetLink())
	${database.schemaHtmlStyleSheetLink}
#else
	<style type="text/css">
/* -------------------------------------------------
                                             Core
------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Verdana, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", "MS P Gothic", "MS Pゴシック", sans-serif;
	font-size: 80%;
	margin: 10px 5px 5px 15px;
	background-color: #ffffe0;
}

/* -------------------------------------------------
                                        Structure
------------------------------------------------- */
h1 {
	font-size: 1.5em;
	border-bottom: 2px solid #af0000;
	border-top: 2px solid #af0000;
}
h2 {
	margin: 30px 0 5px 0;
	font-size: 1.8em;
	border-bottom: 2px solid #af0000;
	border-left: 10px solid #af0000;
	text-indent: 10px;
}
h3 {
	padding: 0 0 0 10px;
	margin: 1em 10% 0 0;
	border-top: double 3px #af0000;
	border-bottom: solid 1px #333333;
	font-size: 1.5em;
	color: #333333;
}
h4 {
	padding: 0 0 0 10px;
	margin: 1em 10% 0 1em;
	border-top: solid 1px #af0000;
	border-bottom: solid 1px #af0000;
	font-size: 1.4em;
	color: #333333;
}

/* -------------------------------------------------
                                     Whole Header
------------------------------------------------- */
.updatedate {
	text-align: right;
}
.mainschema {
	text-align: right;
}
.navilinkarea {
	text-align: right;
}
.sublink {
	margin-top: 0.1em;
}
.sisterlink {
	margin-top: 0.6em;
	font-size: 120%;
}
.sistersublink {
	margin-top: 0.6em;
	font-size: 85%;
}
.sisterneighborlink {
	margin-top: 0.6em;
	font-size: 100%;
}

/* -------------------------------------------------
                                   Keyword Search
------------------------------------------------- */
.keywordsearch {
	padding: 0.7em 0 0.7em 0;
}
.searchmemo {
	font-size: 0.9em;
	color: #114488;
}
.suggestionarea {
	padding: 0 0.2em 0.2em 0.2em;
	margin: 0;
	position: absolute;
	zindex: 100;
	background-color: #DDFFDD;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	list-style-type: none;
}

/* -------------------------------------------------
                                   Database Table
------------------------------------------------- */
table {
	border-collapse:collapse;
}
table, th {
	border: 1px solid #555;
}
th {
	background-color: #cc9;
	font-size: 0.8em;
}
td {
	border-bottom: 1px dotted #aaa;
	border-left: 1px solid #555;
	padding:2px;
}
.tablecomment {
	font-size: 0.8em;
	color: #3F7E5E;
	padding:0 0 0.2em 1em;
}
.rownumhead {
	text-align: center;
	font-size: 0.4em;
}
.rownumcell {
	text-align: center;
	font-size: 0.4em;
	color: #444;
}
.schemacell {
	font-size: 0.8em;
	white-space: nowrap;
}
.aliascell {
	white-space: nowrap;
}
.flgcell {
	text-align: center;
}
.flgplus {
	font-size: 0.7em;
}
.typecell {
	font-size: 0.6em;
}
.sizecell {
	text-align: center;
	font-size: 0.8em;
}
.defvalcell {
	text-align: center;
	font-size: 0.6em;
}
.relcell {
	font-size: 0.7em;
}
.commentcell {
	font-size: 0.7em;
	color: #3F7E5E;
}
.commentcellerror {
	color: red;
}
.subcell {
	font-size: 0.6em;
}
.comcolcell {
	color: #666;
}
.optcell {
	font-style: italic;
}
.additionalpk {
	font-style: italic;
}
.additionalfk {
	font-style: italic;
}
.clstypecell {
	text-align: center;
	font-size: 0.8em;
}
.commentdesc {
	color: #3F7E5E;
}

/* inner table */
table.child {
	margin: 3px;
}
table.child th {
	font-size: 0.7em;
}
table.child, table.child td, table.child th {
	border-top: none;
	border-left: none;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
}
.clsgroup {
	font-size: 1.2em;
	padding-left: 4px;
	padding-right: 4px;
}

/* table supplementary info */
span.tableschematitle {
	font-size: 0.5em;
	color: #888888;
}
span.tablefirstdatetitle {
	font-size: 0.5em;
	color: #888888;
}

/* -------------------------------------------------
                             Behavior Query Path
------------------------------------------------- */
span.bqpcount {
	font-size: 0.5em;
}
dl.bqplist {
	padding-left: 2em;
}
dl.bqplist dt {
	display: list-item;
	font-size: 1.3em;
	margin-top: 0.3em;
}
dl.bqplist dd {
	padding-left: 1em;
}
dl.bqplist dd pre {
	font-size: 1.1em;
}
dl.bqplist dd.subinfo {
	padding-left: 2em;
}
dl.bqplist dd.subinfo span.sqlap {
	font-style: italic;
	color: #002266;
}
dl.bqplist dd.subinfo span.file {
	font-style: italic;
	color: #002266;
}
dl.bqplist dd.subinfo span.ctet {
	color: green;
}
dl.bqplist dd.subinfo span.pmb {
	color: green;
}

/* -------------------------------------------------
                                 Stored Procedure
------------------------------------------------- */
dl.procedurelist {
	padding-left: 2em;
}
dl.procedurelist dt {
	display: list-item;
	font-size: 1.3em;
	margin-top: 0.3em;
}
dl.procedurelist dt span.type {
	font-size: 0.7em;
	color: green;
}
dl.procedurelist dd {
	padding-left: 1em;
}
dl.procedurelist dd pre {
	font-size: 1.1em;
}
dl.procedurelist dd.column {
	font-style: italic;
	padding-left: 2em;
}
dl.procedurelist dd.column span.attrs {
	font-size: 0.7em;
	color: #125699;
}
dl.procedurelist dd.column span.type {
	font-size: 0.9em;
	color: green;
}
dl.procedurelist dd.column pre {
	padding-left: 1em;
}

/* -------------------------------------------------
                                  Decomment Modal
------------------------------------------------- */
.decommentmodal {
	display: none;
	position: fixed;
	z-index: 5;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	padding-top: 50px;
	background-color: rgba(0, 0, 0, 0.5);
}
.decommentmodalcontent {
	position: relative;
	z-index: 10;
	width: 50%;
	margin: 0 auto;
	border: 1px solid #999999;
	padding: 15px;
	background-color: #ffffff;
	border-radius: 4px;
}
.decommentmodalcontent p {
	font-size: 14px;
}
.decommentinput {
	display: block;
	width: 100%;
	margin-top: 10px;
	font-size: 12px;
}
.decommentmodal-ok-btn {
	margin: 10px 5px 0 0;
	padding: 5px 10px;
	border-radius: 4px;
}
.decommentmodal-close-btn {
	position: absolute;
	margin-left: 10px;
	padding: 0;
	right: 10px;
	top: 5px;
	cursor: pointer;
	width: 28px;
	height: 28px;
	border: 0;
	border-radius: 50%;
	color: #657786;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	transition: box-shadow .15s ease-in-out;
}
.decommentmodal-close-btn:hover {
	background-color: #eed;
}
.decomment-user-name {
	display: none;
	padding: 5px;
}
	</style>
#end
#if ($database.isSchemaHtmlJavaScriptEmbedded())
	<script type="text/javascript">
${database.schemaHtmlJavaScriptEmbedded}
	</script>
#elseif ($database.isSchemaHtmlJavaScriptLink())
	${database.schemaHtmlJavaScriptLink}
#end
</head>

<body>
<h1>Schema for ${database.projectName} (${database.databaseName})</h1>
#if ($database.hasDatabaseSchema())
<p class="mainschema">generated from <strong>${database.databaseSchema.catalogSchema}</strong></p>
#end
<div class="navilinkarea">
#if ($database.hasClassificationDefinition() || $database.isSchemaHtmlOutsideSqlValid() || $database.isSchemaHtmlProcedureValid())
#set ($linkDelimiter = "")
<p class="sublink">
#if ($database.hasClassificationDefinition())
${linkDelimiter} <a href="#cdef">Classification Definition</a>
#set ($linkDelimiter = "|")
#end
#if ($database.isSchemaHtmlOutsideSqlValid())
${linkDelimiter} <a href="#outsidesql">OutsideSql List</a>
#set ($linkDelimiter = "|")
#end
#if ($database.isSchemaHtmlProcedureValid())
${linkDelimiter} <a href="#procedure">Procedure List</a>
#end
#if ($selector.hasSchemaDiagram())
${linkDelimiter} <a href="#diagram">Schema Diagram</a>
#end
</p>
#end
## HistoryHtml is on fixed location
#if ($selector.isSchemaHtmlToHistoryHtmlLink())
<p class="sisterlink"><a href="./${selector.historyHtmlFileName}">to HistoryHTML</a></p>
#end
## PropertiesHtml and LastaDoc is also on fixed location
#if ($selector.isSchemaHtmlToPropertiesHtmlLink() || $selector.isSchemaHtmlToLastaDocLink())
<p class="sistersublink">
#set ($linkDelimiter = "")
#if ($selector.isSchemaHtmlToPropertiesHtmlLink())
<a href="./${selector.propertiesHtmlFileName}">to PropertiesHTML</a>
#set ($linkDelimiter = "|")
#end
#if ($selector.isSchemaHtmlToLastaDocLink())
#foreach ($lastaDocHtmlName in $selector.lastaDocHtmlNameList)
${linkDelimiter} <a href="./${lastaDocHtmlName}">to ${lastaDocHtmlName}</a>
#set ($linkDelimiter = "|")
#end
#end
</p>
#end
#if ($selector.hasNeighborhoodSchemaHtml())
#set ($linkDelimiter = "")
<p class="sisterneighborlink">
#foreach ($schemaHtmlKey in $selector.neighborhoodSchemaHtmlKeyList)
${linkDelimiter} <a href="${selector.getNeighborhoodSchemaHtmlPath($schemaHtmlKey)}">to ${schemaHtmlKey}</a>
#set ($linkDelimiter = "|")
#end
</p>
#end
</div>

<div style="display:none" id="unmapped-tables">
	<h2>Decomment Unmapped Tables</h2>
	<table>
		<thead id="unmapped-table-head">
		<tr>
			<th>No</th>
			<th>Table Name</th>
			<th class="conflictcell">Conflict Mapping Name</th>
			<th>Mapping</th>
		</tr>
		</thead>
		<tbody id="unmapped-table-body">
		<!--tr>
			<td class="rownumcell">1</td>
			<td class="namecell">NEW_TABLE_NAME</td>
			<td class="tableselectorcell">
			</td>
		</tr-->
		</tbody>
	</table>
	<button id="table-mapping-submit-button">Mapping</button>
</div>

<div style="display:none" id="unmapped-columns">
	<h2>Decomment Unmapped Columns</h2>
	<ul id="unmapped-column-list">
	</ul>
	<table>
		<thead id="unmapped-column-head">
		<tr>
			<th>No</th>
			<th>Table Name</th>
			<th>Column Name</th>
			<th class="conflictcell">Conflict Mapping Name</th>
			<th>Mapping</th>
		</tr>
		</thead>
		<tbody id="unmapped-column-body">
		<!--tr>
			<td class="rownumcell">1</td>
			<td class="namecell">NEW_TABLE_NAME</td>
			<td class="namecell">NEW_COLUMN_NAME</td>
			<td class="columnselectorcell">
			</td>
		</tr-->
		</tbody>
	</table>
	<button id="column-mapping-submit-button">Mapping</button>
</div>

#set ($hasAdditionalSchema = $database.hasAdditionalSchema())
#set ($isAliasDelimiterInDbCommentValid = $database.isAliasDelimiterInDbCommentValid())
<h2>Table List</h2>
<div class="keywordsearch">
	<input type="text" id="incremental-search-field" tabindex=1 value="" placeholder="Table Search" />
	<ul id="suggestion-list" class="suggestionarea"></ul>
	<span class="searchmemo">*Push 'tab' (primary tab order)</span>
</div>
<table>
	<thead>
	<tr>
		<th class="rownumhead">No.</th>
#if ($isAliasDelimiterInDbCommentValid)
		<th>Alias</th>
#end
		<th>Name</th>
		<th>Type</th>
#if ($hasAdditionalSchema)
		<th>Schema</th>
#end
		<th>ForeignTable</th>
		<th>ReferrerTable</th>
		<th>TableComment</th>
		<th>EntityName</th>
#if ($database.hasTableFirstDate())
		<th>Since</th>
#end
	</tr>
	</thead>
	<tbody id="table-list-body">
#set ($rownum = 1)
#foreach ($table in $database.tableDisplaySortedList)
	<tr>
		<td class="rownumcell">${rownum}</td>
#if ($isAliasDelimiterInDbCommentValid)
		<td class="aliascell">${table.alias}</td>
#end
		<td class="namecell" data-name="${table.tableDbName}"><a href="#${table.tableIdForSchemaHtml}"${table.titleForSchemaHtml}>${table.tableDispName}</a></td>
		<td class="typecell">${table.type}</td>
#if ($hasAdditionalSchema)
		<td class="schemacell">#if ($table.hasSchema()) ${table.documentSchema}#else &nbsp;#end</td>
#end
		<td class="relcell">${table.foreignTableNameCommaStringWithHtmlHref}</td>
		<td class="relcell">${table.referrerTableNameCommaStringWithHtmlHref}</td>
		<td class="commentcell ${table.tableDbName}_comment"><pre>#if($table.hasComment())${table.commentForSchemaHtmlPre}#else&nbsp;#end</pre></td>
		<td class="subcell">${table.javaName}</td>
#if ($database.hasTableFirstDate())
		<td class="subcell">$table.firstDateSimpleExp</td>
#end
	</tr>
#set ($rownum = $rownum + 1)
#end
	</tbody>
</table>

#foreach ($table in $database.tableDisplaySortedList)
$generator.parse("doc/html/table.vm", null, "table", $table)
#end

#if ($database.hasClassificationDefinition())
<h2 id="cdef">Classification Definition</h2>
<table>
	<thead>
	<tr>
		<th>Classification</th>
		<th>Type</th>
		<th>Top Comment</th>
		<th>Definition</th>
	</tr>
	</thead>
	<tbody>
#foreach ($classificationName in $database.classificationNameList)
#set ($classificationTop = $database.getClassificationTop($classificationName))
	<tr>
#if ($classificationTop.isDeprecated())
		<td><del>${classificationName}</del></td>
#else
		<td>${classificationName}</td>
#end
		<td class="clstypecell">#if ($classificationTop.isTableClassification())table#else implicit#if ($classificationTop.isCheckImplicitSet())<br />(check)#end#end</td>
		<td>#if ($classificationTop.hasTopComment())${classificationTop.topCommentForSchemaHtml}#else &nbsp;#end</td>
		<td>
			<table class="child">
			<tr>
				<th id="${classificationName}Cls">Code</th>
				<th>Name</th>
#if ($database.hasClassificationAlias($classificationName))
				<th>Alias</th>
#end
				<th>Comment</th>
#foreach ($group in $classificationTop.groupList)
				<th><span class="clsgroup"${group.groupTitleForSchemaHtml}>${group.groupName}</span></th>
#end
#if ($classificationTop.hasSisterCode())
				<th>Sisters</th>
#end
#if ($classificationTop.hasSubItem())
				<th>SubItem</th>
#end
			</tr>
#foreach ($classificationElement in $classificationTop.classificationElementList)
			<tr>
				<td>${classificationElement.code}</td>
#if ($classificationElement.isDeprecated())
				<td><del>${classificationElement.name}</del></td>
#else
				<td>${classificationElement.name}</td>
#end
#if ($database.hasClassificationAlias($classificationName))
				<td>#if ($classificationElement.hasAlias())${classificationElement.alias}#else &nbsp;#end</td>
#end
				<td class="commentcell">#if($classificationElement.hasCommentDisp())${classificationElement.commentForSchemaHtml}#else&nbsp;#end</td>
#foreach ($group in $classificationTop.groupList)
				<td class="flgcell">#if ($classificationElement.isGroup($group.groupName))o#else &nbsp;#end</td>
#end
#if ($classificationTop.hasSisterCode())
				<td>${classificationElement.buildSisterCodeExpForSchemaHtml()}</td>
#end
#if ($classificationTop.hasSubItem())
				<td>${classificationElement.buildSubItemExpForSchemaHtml()}</td>
#end
			</tr>
#end
			</table>
		</td>
	</tr>
#end
	</tbody>
</table>
#end

#if ($database.isSchemaHtmlOutsideSqlValid())
<h2 id="outsidesql">OutsideSql List</h2>
#foreach ($table in $database.tableDisplaySortedList)
#if ($table.hasBehaviorQueryPath())
<h3 id="${table.tableIdForSchemaHtml}_sql"><a href="#${table.tableIdForSchemaHtml}">${table.tableDispName}</a></h3>
<dl class="bqplist">
#foreach ($behaviorQueryPath in $table.behaviorQueryPathList)
	<dt>$table.getBehaviorQueryPathTitleForSchemaHtml($behaviorQueryPath)$table.getBehaviorQueryPathDisplayName($behaviorQueryPath)</dt>
#if ($table.hasBehaviorQueryPathDescription($behaviorQueryPath))
	<dd>
		<pre class="commentdesc">$table.getBehaviorQueryPathDescriptionForSchemaHtml($behaviorQueryPath)</pre>
	</dd>
#end
	<dd class="subinfo">
#if ($table.isBehaviorQueryPathSqlAp($behaviorQueryPath))
		<span class="sqlap">(${table.getBehaviorQueryPathSqlApProjectName($behaviorQueryPath)})</span>
#end
		<span class="file">$table.getBehaviorQueryPathFileName($behaviorQueryPath)</span>
#if ($table.hasBehaviorQueryPathCustomizeEntity($behaviorQueryPath))
		<span class="ctet">(${table.getBehaviorQueryPathCustomizeEntity($behaviorQueryPath)}${table.getBehaviorQueryPathCursorForSchemaHtml($behaviorQueryPath)})</span>
#end
#if ($table.hasBehaviorQueryPathParameterBean($behaviorQueryPath))
		<span class="pmb">(${table.getBehaviorQueryPathParameterBean($behaviorQueryPath)})</span>
#end
	</dd>
#end
</dl>
#end
#end
#end
#if ($database.isSchemaHtmlProcedureValid())
<h2 id="procedure">Procedure</h2>
#set ($hasSeveralProcedureSchema = $database.hasSeveralProcedureSchema())
#foreach ($procedureEntry in $database.availableSchemaProcedureMap.entrySet())
#set ($procedureSchema = $procedureEntry.key)
#set ($procedureList = $procedureEntry.value)
#if ($hasSeveralProcedureSchema)
<h3>${procedureSchema}</h3>
#end
<dl class="procedurelist">
#foreach ($procedure in $procedureList)
	<dt>${procedure.procedureDisplayNameForSchemaHtml}</dt>
#if ($procedure.hasProcedureComment())
	<dd>
		<pre class="commentcell">${procedure.procedureCommentForSchemaHtml}</pre>
	</dd>
#end
#if ($procedure.procedureColumnList.isEmpty())
	<dd class="column">*no arguments</dd>
#else
#foreach ($column in $procedure.procedureColumnList)
	<dd class="column">
		${column.columnDisplayNameForSchemaHtml}
#if ($column.hasColumnComment())
		<pre class="commentdesc">${column.columnCommentForSchemaHtml}</pre>
#end
	</dd>
#end
#end
#end
</dl>
#end
#end
#if ($selector.hasSchemaDiagram())

<h2 id="diagram">Schema Diagram</h2>
#foreach ($schemaHtmlKey in $selector.schemaDiagramKeyList)
#set ($diagramPath = "${selector.getSchemaDiagramPath($schemaHtmlKey)}")
<h3>${schemaHtmlKey}</h3>
<p>
	<a href="${diagramPath}">
		<img src="${diagramPath}"
			alt="ER Diagram"
#if ($selector.hasSchemaDiagramWidth($schemaHtmlKey))
			width="${selector.getSchemaDiagramWidth($schemaHtmlKey)}"
#end
#if ($selector.hasSchemaDiagramHeight($schemaHtmlKey))
			height="${selector.getSchemaDiagramHeight($schemaHtmlKey)}"
#end
		/>
	</a>
</p>
#end
#end

<h2 id="thanks">Thanks</h2>
<p>
	Created by <a href="http://dbflute.org/">DBFlute(AutoGenerator)</a>
</p>

<!-- Only used by dbflute intro http://dbflute.seasar.org/ja/manual/function/helper/intro/index.html -->
<div id="decomment-modal" class="decommentmodal">
	<div class="decommentmodalcontent">
		<div id="decomment-close" class="decommentmodal-close-btn"><span>x</span></div>
		<p>Input the new column comment of <span id="decomment-modal-column-info"></span></p>
		<textarea id="decomment-input" class="decommentinput" rows="5"></textarea>
		<input type="text" id="decomment-user-name" class="decomment-user-name" placeholder="User name"/>
		<button id="decomment-ok" class="decommentmodal-ok-btn">OK</button>
	</div>
</div>
<script>
/**
 * Incremental Search contributed by makotot (Thanks!)
 *
 * and extended by jflute:
 *  o style adjustment
 *  o varying name index
 *  o prefix search priority
 */

// this index value depends on DBFlute settings
// so defines it here as global for easy-to-understand
#if ($isAliasDelimiterInDbCommentValid)
var NAME_INDEX = 2; // number, alias, name
#else
var NAME_INDEX = 1; // number, name
#end

function Incremental (targetInput, dist) {
	this.targetInput = targetInput;
	this.dist = dist;
	this.query = '';
	this.suggestionIdx = 0;
	this.currentSuggestion = '';
}

Incremental.prototype = {

	/**
	 * Init
	 */
	init: function () {
		var dataList = this.getDataList();

		this.distDataList = dataList.distList;
		this.sectionList = dataList.sectionList;
		this.buildSuggestList();
		this.attachEvent();
	},

	/**
	 * Build sugget list
	 */
	buildSuggestList: function () {
		var fragment = document.createDocumentFragment(),
			ul = document.getElementById('suggestion-list');

		this.ul = ul;
		this.setupLinkElement(fragment); // for prefix area
		this.setupLinkElement(fragment); // for contain area
		ul.appendChild(fragment);

		this.attachSuggestionEvent();
	},

	/**
	 * Setup link element
	 */
	setupLinkElement: function (fragment) {
		var li, anchor;
		for (var i = 0, max = this.distDataList.length; i < max; i++) {
			li = document.createElement('li');
			li.style.display = 'none';
			anchor = document.createElement('a');
			anchor.href = this.sectionList[i];

			var distData = this.distDataList[i];
			if (document.body.dataset) {
				anchor.dataset.name = distData;
			} else {
				anchor.setAttribute('data-name', distData); // for searching
			}

			this.util.setElemTxt(anchor, distData); // for display

			li.appendChild(anchor);
			fragment.appendChild(li);
		}
	},

	/**
	 * Attach event
	 */
	attachEvent: function () {
		var self = this,
			eventHandler = function () {
				self.displaySuggestion();
			},
			eventName = ('oninput' in window) ? 'input' : 'propertychange';

		this.util.addEvent(this.targetInput, eventName, eventHandler);
	},

	/**
	 * Display suggestion
	 */
	displaySuggestion: function () {
		this.query = (this.util.trim(this.targetInput.value)).toLowerCase();

		var i, j, max;

		this.resetSuggestion();

		var visibleList;

		if (this.query.length) {
			var alreadyCheckedData = {}; // to suppress duplicate check (key only used)
			var distDataCount = this.distDataList.length; // to determine prefix or contain area
			var hitCount = 0; // to suppress large result (primitive counter just in case)
			for (i = 0, max = this.ul.childNodes.length; i < max && hitCount <= 100; i++) {
				var childNode = this.ul.childNodes[i];
				var anchor = childNode.getElementsByTagName('a')[0]; // always only one
				var dataName = anchor.getAttribute('data-name'); // e.g. table name
				if (alreadyCheckedData[dataName] != null) { // to suppress duplicate check
					continue;
				}
				if (i < distDataCount && dataName.lastIndexOf(this.query, 0) > -1) { // prefix hit
					childNode.searchDirection = 'prefix';
					alreadyCheckedData[dataName] = 'dummy';
					++hitCount;
				} else if (i >= distDataCount && dataName.indexOf(this.query) > -1) { // contain hit
					childNode.searchDirection = 'contain';
					alreadyCheckedData[dataName] = 'dummy';
					++hitCount;
				} else {
					childNode.searchDirection = 'none';
				}
			}

			visibleList = this.filterVisibleChild();

			if (visibleList.length) {
				visibleList[0].style.backgroundColor = '#CCCCCC';
			}
		} else {
			for (i = 0, max = this.ul.childNodes.length; i < max; i++) {
				var childNode = this.ul.childNodes[i];
				childNode.searchDirection = null; // clear
				childNode.style.display = 'none'; // all none
			}
		}
	},

	/**
	 * Get data list
	 */
	getDataList: function () {
		var tr = this.dist.getElementsByTagName('tr'),
			distDataList = [],
			sectionIdList = [];

		for (var i = 0, max = tr.length; i < max; i++) {
			distDataList.push(this.util.getElemTxt(tr[i].getElementsByTagName('td')[NAME_INDEX]).toLowerCase());
			sectionIdList.push(tr[i].getElementsByTagName('td')[NAME_INDEX].getElementsByTagName('a')[0].getAttribute('href'));
		}

		return {
			distList: distDataList,
			sectionList: sectionIdList
		};
	},

	/**
	 * Attach suggestion event
	 */
	attachSuggestionEvent: function () {
		var self = this;

		this.util.addEvent(this.targetInput, 'keyup', function (e) {
			self.selectSuggestion(e);
			self.setInputValue(e);
		});
		this.util.addEvent(this.targetInput, 'blur', function () {
			setTimeout(function () {
				self.resetSuggestion();
			}, 100);
		});
	},

	/**
	 * Select suggestion
	 */
	selectSuggestion: function (ev) {
		var keyCode = ev.keyCode,
			visibleChildNodes = this.filterVisibleChild(),
			prevIdx;

		if (keyCode === 38 || keyCode === 40) {

			if (visibleChildNodes.length) {
				prevIdx = this.suggestionIdx;

				if (keyCode === 40 && this.suggestionIdx < visibleChildNodes.length - 1) {
					this.suggestionIdx++;
				}

				if (keyCode === 38 && this.suggestionIdx > 0) {
					this.suggestionIdx--;
				}

				if (prevIdx > -1) {
					visibleChildNodes[prevIdx].style.backgroundColor = '';
				}

				visibleChildNodes[this.suggestionIdx].style.backgroundColor = '#CCCCCC';
				this.currentSuggestion = this.util.getElemTxt(visibleChildNodes[this.suggestionIdx]);

			} else if (this.query.length) {

				this.displaySuggestion();
			}
		}

		if (!this.query.length) {
			this.resetSuggestion();
		}
	},

	/**
	 * Set input value
	 * @param {Object} ev
	 */
	setInputValue: function (ev) {
		var keyCode = ev.keyCode,
			visibleChildNodes = this.filterVisibleChild(),
			currentSuggestionTxt,
			selectedSection;

		if (visibleChildNodes.length) {
			currentSuggestionTxt = this.util.getElemTxt(visibleChildNodes[this.suggestionIdx]);

			if (keyCode === 13) {
				this.targetInput.value = currentSuggestionTxt;
				selectedSection = this.getSelectedSection(visibleChildNodes[this.suggestionIdx]);
				this.clearSuggestion();
				this.scrollToSelectedSection(selectedSection);
				this.setHash(selectedSection);
			}
		}
	},

	/**
	 * Filter visible child
	 */
	filterVisibleChild: function () {
		var visibleChildNodes = [];

		// ordered by prefix, contain
		for (var i = 0, max = this.ul.childNodes.length; i < max; i++) {
			var childNode = this.ul.childNodes[i];
			if (childNode.searchDirection === 'prefix') {
				visibleChildNodes.push(childNode);
				childNode.style.display = 'block';
			} else if (childNode.searchDirection === 'contain') {
				visibleChildNodes.push(childNode);
				childNode.style.display = 'block';
			} else {
				childNode.style.display = 'none';
			}
		}

		return visibleChildNodes;
	},

	/**
	 * Clear suggestion
	 */
	clearSuggestion: function () {
		for (var i = 0, max = this.ul.childNodes.length; i < max; i++) {
			var childNode = this.ul.childNodes[i];
			childNode.searchDirection = null;
			childNode.style.display = 'none';
			childNode.style.backgroundColor = '';
		}
	},

	/**
	 * Reset suggestion
	 */
	resetSuggestion: function () {
		this.clearSuggestion();

		this.suggestionIdx = 0;
	},

	/**
	 * Get selected section
	 * @param {Object} suggestionNode
	 * @return {number} Selected Index
	 */
	getSelectedSection: function (suggestionNode) {
		var selectedIdx;

		for (var i = 0, max = this.ul.childNodes.length; i < max; i++) {
			if (this.ul.childNodes[i] === suggestionNode) {
				selectedIdx = i;
				break;
			}
		}

		return selectedIdx;
	},

	/**
	 * Scroll to selected section
	 * @param {number} idx
	 */
	scrollToSelectedSection: function (idx) {
		var selectedId = this.ul.childNodes[idx].getElementsByTagName('a')[0].href.split('#')[1],
			targetSection = document.getElementById(selectedId);

		window.scrollTo(0, targetSection.offsetTop);
		this.targetInput.blur();
	},

	/**
	 * Set hash
	 */
	setHash: function (idx) {
		var selectedId = this.ul.childNodes[idx].getElementsByTagName('a')[0].href.split('#')[1];

		window.location.hash = selectedId;
	}
};


Incremental.prototype.util = {

	addEvent: function (elem, ev, fn) {
		if (elem.addEventListener) {
			elem.addEventListener(ev, fn, false);
		} else if (elem.attachEvent) {
			elem.attachEvent('on' + ev, fn);
		} else {
			elem['on' + ev] = fn;
		}
	},

	trim: function (txt) {
		return (String.prototype.trim) ? txt.trim() : txt.replace(/^\s+|\s+$/g, '');
	},

	getElemTxt: function (elem) {
		return (elem.innerText !== undefined) ? elem.innerText : elem.textContent;
	},

	setElemTxt: function (elem, data) {
		return (elem.innerText !== undefined) ? (elem.innerText = data) : (elem.textContent = data);
	}
};

var searcher = new Incremental(document.getElementById('incremental-search-field'), document.getElementById('table-list-body'));
searcher.init();
</script>
#macro(escape $str)$!str.replaceAll("'", "\\'").replaceAll("\n", "<br>")#end
<script>

## ===================================================================================
##                                                                          Api Client
##                                                                          ==========
/**
 * @author deco
 */
function ApiClient() {
}

ApiClient.prototype = {
	/**
	 * Fetch decomment viertual pickup.
	 * @param {function} successCallback
	 */
	fetchDecomment: function(successCallback) {
		var path = '/api/document/decomment/' + DecommentUtil.getSchemaName() + '/pickup';
		var method = 'GET';
		var errorCallback = function() {
			alert('Error!! cannot save decomment.');
		}
		this.request(path, method, null, successCallback, errorCallback);
	},
	/**
	 * Request save decomment
	 * @param {Object} params - Request parameters
	 * @param {function} successCallback
	 */
	saveDecomment: function(params, successCallback) {
		var path = '/api/document/decomment/' + DecommentUtil.getSchemaName() + '/save';
		var method = 'POST';
		var errorCallback = function() {
			alert('Error!! cannot save new column comment.');
		}
		this.request(path, method, params, successCallback, errorCallback);
	},
	/**
	 * Post mapping table.
	 * @param {Object} params - Request parameters
	 * @param {function} successCallback
	 */
	postMapping: function(params, successCallback) {
		var path = '/api/document/decomment/' + DecommentUtil.getSchemaName() + '/mapping';
		var method = 'POST';
		var errorCallback = function() {
			alert('Error!! cannot save new table mapping.');
		}
		this.request(path, method, params, successCallback, errorCallback);
	},
	/**
	 * Request to intro server
	 * @param {string} path
	 * @param {string} method
	 * @param {object} params
	 * @param {function} successCallback
	 * @param {function} errorCallback
	 */
	request: function(path, method, params, successCallback, errorCallback) {
		var http = new XMLHttpRequest();
		http.withCredentials = true;
		var url = DecommentUtil.getHostName() + path;
		http.open(method, url, true);

		http.onreadystatechange = function () {
			if (http.readyState === 4) {
				if (http.status === 200) {
					successCallback(http.response)
				} else {
					errorCallback()
				}
			}
		};
		if (params != null) {
			http.send(JSON.stringify(params, null, "  "));
		} else {
			http.send();
		}
	}
}

## ===================================================================================
##                                                                      Decomment Util
##                                                                      ==============
/**
 * @author deco
 */
var DecommentUtil = new function(){
	/**
	 * Get host name
	 * @returns {string} Host name
	 */
	this.getHostName = function() {
		return 'http://' + window.location.host;
	},
	/**
	 * Get scheme name from url
	 * @returns {string} Scheme name
	 */
	this.getSchemaName = function () {
		return "${database.projectName}";
	},
	/**
	 * Escape inputed text
	 * @param {String} string - text
	 */
	this.escapeInputText = function(string) {
		if(typeof string !== 'string') {
			return string;
		}
		return string.replace(/[&'`"<>]/g, function(match) {
			return {
				'&': '&amp;',
				"'": '&#x27;',
				'`': '&#x60;',
				'"': '&quot;',
				'<': '&lt;',
				'>': '&gt;',
			}[match]
		});
	},
	/**
	 * Escape newline character of text
	 * @param {String} string - text
	 */
	this.escapeNewlineCharacter = function (string) {
		return string.split('<br>').join('\n');
	},
	/**
	 * Delete unnecessary whitespace
	 * @param {String} string - text
	 */
	this.deleteUnnecessaryWhitespace = function(string) {
		var commentArray = string.split("\n");
		var result = "";
		for(var i = 0; i < commentArray.length; i++) {
			result += commentArray[i].replace(/\s+$/g,'');
			if (!(i == commentArray.length - 1)) {
				result += '\n';
			}
		}
		return result.trim();
	},

	/**
	 * Unescape whitespace character of text
	 * @param {String} string - text
	 */
	this.unescapeWhitespace = function (string) {
		return string.split('&nbsp;').join(' ');
	},
	/**
	 * Check is opening with server mode.
	 */
	this.isDecommentServer = function() {
		return document.getElementById("decomment_server") != null;
	}
}

## ===================================================================================
##                                                                     Decomment Store
##                                                                     ===============
/**
 * @author deco
 */
function StoreClient() {
	// setup from dbflute if decomment pickup exists
	this.embeddedPickup = {
		'tables': [
#foreach($table in $database.embeddedPickup.tableList)
			#if ($velocityCount > 1), #end{
				'tableName': '#escape($!{table.tableName})'
				, 'mappings' : [
#foreach($mapping in $table.mappingList)
						#if ($velocityCount > 1), #end{
						'newTableName': '#escape($!{mapping.newTableName})'
						, 'newColumnName': null
						, 'authors': [#foreach($author in $mapping.authorList)#if ($velocityCount > 1),#end'#escape($!{author})'#end]
						, 'mappingCode': '#escape($!{mapping.mappingCode})'
						, 'mappingOwner': '#escape($!{mapping.mappingOwner})'
						, 'mappingDatetime': '$!{mapping.mappingDatetime}'
						## , 'previousMappings':  [#foreach($mappingCode in mapping.previousMappingList)#if ($velocityCount > 1),#end'$!{mappingCode}'#end]
					}
#end
				]
				, 'properties': [
#foreach($property in $table.propertyList)
						#if ($velocityCount > 1), #end{
						'decomment': '#escape($!{property.decomment})'
						, 'databaseComment': '#escape($!{property.databaseComment})'
						, 'commentVersion': $!{property.commentVersion}
						, 'authors': [#foreach($author in $property.authorList)#if ($velocityCount > 1),#end'#escape($!{author})'#end]
						, 'pieceCode': '$!{property.pieceCode}'
						, 'pieceDatatime': '$!{property.pieceDatetime}'
						, 'previousPieces': [#foreach($pieceCode in $property.previousPieceList)#if ($velocityCount > 1),#end'$!{pieceCode}'#end]
					}
#end
				]
				, 'columns': [
#foreach($column in $table.columnList)
					#if ($velocityCount > 1),#end {
						'columnName': '#escape($!{column.columnName})'
						, 'mappings' : [
#foreach($mapping in $table.mappingList)
								#if ($velocityCount > 1), #end{
								'newTableName': '#escape($!{mapping.newTableName})'
								, 'newColumnName': '#escape($!{mapping.newColumnName})'
								, 'authors': [#foreach($author in $mapping.authorList)#if ($velocityCount > 1),#end'#escape($!{author})'#end]
								, 'mappingCode': '#escape($!{mapping.mappingCode})'
								, 'mappingOwner': '#escape($!{mapping.mappingOwner})'
								, 'mappingDatetime': '$!{mapping.mappingDatetime}'
								## , 'previousMappings':  [#foreach($mappingCode in mapping.previousMappingList)#if ($velocityCount > 1),#end'$!{mappingCode}'#end]
							}
#end
						]
						, 'properties': [
#foreach($property in $column.propertyList)
								#if ($velocityCount > 1),#end {
								'decomment': '#escape($!{property.decomment})'
								, 'databaseComment': '#escape($!{property.databaseComment})'
								, 'commentVersion': $!{property.commentVersion}
								, 'authors': [#foreach($author in $property.authorList)#if ($velocityCount > 1),#end'#escape($!{author})'#end]
								, 'pieceCode': '$!{property.pieceCode}'
								, 'pieceDatatime': '$!{property.pieceDatetime}'
								, 'previousPieces': [#foreach($pieceCode in $property.previousPieceList)#if ($velocityCount > 1),#end'$!{pieceCode}'#end]
							}
#end
						]
					}
#end
				]
			}
#end
		]
	}
	this.pickupStore = {
#foreach ($table in $database.tableDisplaySortedList)
## decomment uses display name so fix later
		#if ($velocityCount > 1), #end'${table.tableDbName}': {
			'databaseComment': '#escape(${table.commentForSchemaHtml})'
			, 'columns': {
#foreach ($col in $table.columns)
				#if ($velocityCount > 1), #end'${col.name}': {
					'databaseComment': '#escape(${col.commentForSchemaHtml})'
				}
#end
			}
		}
#end
	}

	this.unmappedTableArea = new UnmappedTableArea();
	this.unmappedColumnArea = new UnmappedColumnArea();
}

StoreClient.prototype = {
	/**
	 * Store pickup json to store
	 * @param {Object} pickup - pickup response
	 */
	storePickup: function (pickup) {
		var that = this;
		Array.prototype.forEach.call(pickup["tables"], function (table) {
			that.storePickupTable(table);
			var tableProperty = that.getTablePickup(table['tableName'])
			if (tableProperty.selectTargetHtmlElements().length === 0) {
				that.unmappedTableArea.push(table);
				return;
			}
			Array.prototype.forEach.call(table["columns"], function (column) {
				var columnProperty = that.getColumnPickup(table['tableName'], column['columnName'])
				if (!columnProperty.selectTargetHtmlElement()) {
					that.unmappedColumnArea.push(table, column);
					return;
				}
				that.storePickupColumn(table['tableName'], column);
			});
		});
	},

	/**
	 * Store table
	 * @param {Object} table - table object of pickup response
	 */
	storePickupTable: function (table) {
		// init if not exists
		var tableName = table['tableName'];
		if (this.pickupStore[tableName] === undefined) {
			this.pickupStore[tableName] = {};
		}

		// return if not have properties
		var properties = table['properties'];
		if (properties.length === 0) {
			return;
		}

		// get database comment
		var tableMap = this.pickupStore[tableName];
		var databaseComment = tableMap['databaseComment'];

		// setup properties to store
		var isConflict = properties.length > 1;
		var isDatabaseCommentConflict = false;
		var decomments = [];
		var previousPieces = [];
		var authors = [];
		var commentVersion = 0;
		var that = this;
		Array.prototype.forEach.call(properties, function (property) {
			if (property['databaseComment'] != null && databaseComment != null && !isDatabaseCommentConflict) {
				isDatabaseCommentConflict = DecommentUtil.escapeNewlineCharacter(databaseComment) != DecommentUtil.escapeNewlineCharacter(property['databaseComment']);
			}
			var decomment = {
				"body": property["decomment"],
				"pieceGitBranch": property["pieceGitBranch"]
			}
			decomments.push(decomment);
			if (property['pieceCode'] != null) {
				previousPieces.push(property['pieceCode']);
			}
			authors = authors.concat(property['authors']);
			if (commentVersion < property['commentVersion']) {
				commentVersion = property['commentVersion'];
			}
		});
		authors = authors.filter(function (x, i, self) {
			return self.indexOf(x) === i;
		});

		tableMap['isConflict'] = isConflict || isDatabaseCommentConflict;
		tableMap['isDatabaseCommentConflict'] = isDatabaseCommentConflict;
		tableMap['decomments'] = decomments;
		tableMap['previousPieces'] = previousPieces;
		tableMap['authors'] = authors;
		tableMap['commentVersion'] = commentVersion;
	},

	/**
	 * Store column
	 * @param {string} tableDbName - table db name
	 * @param {Object} column - column object of pickup response
	 */
	storePickupColumn: function (tableDbName, column) {
		var columnName = column['columnName'];
		// init if not exists
		if (this.pickupStore[tableDbName]['columns'] === undefined) {
			this.pickupStore[tableDbName]['columns'] = {};
		}

		if (this.pickupStore[tableDbName]['columns'][columnName] === undefined) {
			this.pickupStore[tableDbName]['columns'][columnName] = {};
		}

		// return if not have properties
		var properties = column['properties'];
		if (properties.length == 0) {
			return;
		}

		// get database comment
		var columnMap = this.pickupStore[tableDbName]['columns'][columnName];
		var databaseComment = columnMap['databaseComment'];

		// setup properties to store
		var isConflict = properties.length > 1;
		var isDatabaseCommentConflict = false;
		var decomments = [];
		var previousPieces = [];
		var authors = [];
		var commentVersion = 0;
		var that = this;
		Array.prototype.forEach.call(properties, function (property) {
			if (property['databaseComment'] != null && databaseComment != null && !isDatabaseCommentConflict) {
				isDatabaseCommentConflict = DecommentUtil.escapeNewlineCharacter(databaseComment) != DecommentUtil.escapeNewlineCharacter(property['databaseComment']);
			}
			var decomment = {
				"body": property["decomment"],
				"pieceGitBranch": property["pieceGitBranch"]
			}
			decomments.push(decomment);
			if (property['pieceCode'] != null) {
				previousPieces.push(property['pieceCode']);
			}
			authors = authors.concat(property['authors']);
			if (commentVersion < property['commentVersion']) {
				commentVersion = property['commentVersion'];
			}
		});
		authors = authors.filter(function (x, i, self) {
			return self.indexOf(x) === i;
		});

		columnMap['isConflict'] = isConflict || isDatabaseCommentConflict;
		columnMap['isDatabaseCommentConflict'] = isDatabaseCommentConflict;
		columnMap['decomments'] = decomments;
		columnMap['previousPieces'] = previousPieces;
		columnMap['authors'] = authors;
		columnMap['commentVersion'] = commentVersion;
	},

	/**
	 * Get decomments
	 * @returns {Object} pickup
	 */
	getDecomments: function () {
		var pickup = this.pickupStore;
		var result = [];
		for (key in pickup) {
			result.push(new PickupTableProperty(key, pickup[key]));
		}
		return result;
	},

	/**
	 * Get table pickup
	 * @returns {Object} table pickup
	 */
	getTablePickup: function (tableName) {
		return new PickupTableProperty(tableName, this.pickupStore[tableName]);
	},

	/**
	 * Get column pickup
	 * @returns {Object} column pickup
	 */
	getColumnPickup: function (tableName, columnName) {
		var table = this.getTablePickup(tableName);
		if (!table) {
			return null;
		}
		return new PickupColumnProperty(tableName, columnName, table.columns[columnName])
	}
}

## ===================================================================================
##                                                                     Decomment Table
##                                                                     ===============
function PickupTableProperty(tableDbName, json) {
	this.tableDbName = tableDbName;
	this.inputAuthor = null; // use when decomment server mode.
	if (json) {
		this.databaseComment = json.databaseComment;
		this.isDatabaseCommentConflict = json.isDatabaseCommentConflict;
		this.decomments = json.decomments || [];
		this.previousPieces = json.previousPieces;
		this.authors = json.authors;
		this.commentVersion = json.commentVersion;
		this.columns = {};
		var columns = json.columns || {};
		for (var key in columns) {
			this.columns[key] = new PickupColumnProperty(tableDbName, key, columns[key]);
		}
	}
}

PickupTableProperty.prototype = {

	/**
	 * Reflect new comment to html
	 */
	reflectToHtml: function () {
		if (this.notChangeDisplayComment()) {
			return;
		}
		var author = this.authors.join(',');
		var comment = this.buildDisplayComment() + "\n<span>@author(" + author + ")</span>";
		var that = this;
		Array.prototype.forEach.call(this.selectTargetHtmlElements(), function (element) {
			element.innerHTML = comment;
			if (that.isConflict()) {
				element.className += " commentcellerror"
			}
		});
	},

	/**
	 * Convert to dialog title
	 * @returns {string} dialog title
	 */
	toDialogTitle: function () {
		return this.isConflict() ? this.tableDbName + " ... but now in CONFLICT!" : this.tableDbName;
	},

	/**
	 * Check change display comment;
	 */
	notChangeDisplayComment: function () {
		return this.decomments.length == 0 && !this.isConflict();
	},

	/**
	 * Build display comment to html
	 * @return {string} comment
	 */
	buildDisplayComment: function () {
		var displayComment = "";
		if (this.isDatabaseCommentConflict) {
            displayComment = this.getEscapedDatabaseComment();
			displayComment = displayComment + '\n(from database comment)\n\n=======\n\n';
		}

		var commentCount = this.decomments.length;
		for (key in this.decomments) {
			var decomment = this.decomments[key];
			displayComment += decomment.body
			if (this.isConflict() && decomment.pieceGitBranch) {
				displayComment += '\n=======' + decomment.pieceGitBranch;
				if (key < commentCount - 1) {
					displayComment += '\n\n'; // show between comments
				}
			} else {
				if (key < commentCount - 1) {
					displayComment += '\n\n=======\n\n'; // show between comments
				}
			}
		}
		return displayComment;
	},

	/**
	 * Get escaped database comment
	 * @return {string} escaped database comment
	 */
	getEscapedDatabaseComment: function() {
		var escapedComment = "";
		escapedComment = DecommentUtil.escapeNewlineCharacter(escapedComment);
		return escapedComment;
	},

	/**
	 * Select target html element
	 * @return {Array} html elements
	 */
	selectTargetHtmlElements: function () {
		var className = this.tableDbName + "_" + "comment";
		var tableElements = document.getElementsByClassName(className);
		var result = [];
		Array.prototype.forEach.call(tableElements, function (element) {
			var target = element.querySelector('pre')
			if (target) {
				result.push(target);
			}
		});
		return result;
	},

	/**
	 * Get display html comment
	 * @return {string} display html comment
	 */
	getDisplayHtmlComment: function() {
		var child = this.selectTargetHtmlElements()[0].childNodes[0];
		if (child != null && child.nodeName === "#text") {
			return child.nodeValue.trim();
		}
		return ""
	},

	/**
	 * Check conflict
	 * @return {boolean} true: conflict, false: not
	 */
	isConflict: function () {
		return this.decomments.length > 1 || this.isDatabaseCommentConflict;
	},

	/**
	 * Convert to request params
	 * @return {Object} request params
	 */
	toRequestParams: function () {
		return {
			'tableName': this.tableDbName,
			'columnName': null,
			'targetType': 'TABLE',
			'decomment': (this.decomments[0] || {}).body,
			'databaseComment': DecommentUtil.escapeNewlineCharacter(this.databaseComment),
			'commentVersion': this.commentVersion || 0,
			'inputAuthor': this.inputAuthor,
			'authors': this.authors || [],
			'previousPieces': this.previousPieces || []
		};
	}
};

## ===================================================================================
##                                                                    Decomment Column
##                                                                    ================
function PickupColumnProperty(tableDbName, columnName, json) {
	this.tableDbName = tableDbName;
	this.columnName = columnName;
	this.inputAuthor = null; // use when decomment server mode.
	if (json) {
		this.databaseComment = json['databaseComment'];
		this.isDatabaseCommentConflict = json['isDatabaseCommentConflict'];
		this.decomments = json['decomments'] || [];
		this.previousPieces = json['previousPieces'];
		this.authors = json['authors'];
		this.commentVersion = json['commentVersion'];
		this.previousWholeComment = json['previousWholeComment'];
	}
}

PickupColumnProperty.prototype = {

	/**
	 * Reflect new comment to html
	 */
	reflectToHtml: function () {
		if (this.notChangeDisplayComment()) {
			return;
		}
		var author = this.authors.join(',');
		var comment = this.buildDisplayComment() + "\n<span>@author(" + author + ")</span>";
		var element = this.selectTargetHtmlElement();
		if (!element) {
			return
		}
		element.innerHTML = comment;
		if (this.isConflict()) {
			element.className += " commentcellerror"
		}
	},

	/**
	 * Convert to dialog title
	 * @returns {string} dialog title
	 */
	toDialogTitle: function () {
		var name = this.tableDbName + "." + this.columnName;
		return this.isConflict() ? name + " ... but now in CONFLICT!" : name;
	},

	/**
	 * Check change display comment;
	 */
	notChangeDisplayComment: function () {
		return this.decomments.length == 0 && !this.isConflict();
	},

	/**
	 * Build display comment to html
	 * @return {string} comment
	 */
	buildDisplayComment: function () {
		var displayComment = "";
		if (this.isDatabaseCommentConflict) {
			displayComment = this.getEscapedDatabaseComment();
			displayComment = displayComment + '\n(from database comment)\n\n=======\n\n';
		}

		var commentCount = this.decomments.length;
		for (key in this.decomments) {
			var decomment = this.decomments[key];
			displayComment += decomment.body
			if (this.isConflict() && decomment.pieceGitBranch) {
				displayComment += '\n=======' + decomment.pieceGitBranch;
				if (key < commentCount - 1) {
					displayComment += '\n\n'; // show between comments
				}
			} else {
				if (key < commentCount - 1) {
					displayComment += '\n\n=======\n\n'; // show between comments
				}
			}
		}
		return displayComment;
	},

	/**
	 * Get escaped database comment
	 * @return {string} escaped database comment
	 */
	getEscapedDatabaseComment: function() {
		var escapedComment = "";
		escapedComment = DecommentUtil.escapeNewlineCharacter(escapedComment);
		return escapedComment;
	},

	/**
	 * Select target html element
	 * @return {Object} html element
	 */
	selectTargetHtmlElement: function () {
		var columnId = this.tableDbName + "_" + this.columnName;
		columnId = columnId.toLowerCase();
		var columnElement = document.getElementById(columnId);
		if (columnElement === null) {
			return null;
		}
		return columnElement.parentElement.querySelector('.commentcell').querySelector('pre')
	},

	/**
	 * Get display html comment
	 * @return {string} display html comment
	 */
	getDisplayHtmlComment: function() {
		var child = this.selectTargetHtmlElement().childNodes[0];
		if (child != null && child.nodeName === "#text") {
			return child.nodeValue.trim();
		}
		return ""
	},

	/**
	 * Check conflict
	 * @return {boolean} true: conflict, false: not
	 */
	isConflict: function () {
		return this.decomments.length > 1 || this.isDatabaseCommentConflict;
	},

	/**
	 * Convert to request params
	 * @return {Object} request params
	 */
	toRequestParams: function () {
		return {
			'tableName': this.tableDbName,
			'columnName': this.columnName,
			'targetType': 'COLUMN',
			'decomment': (this.decomments[0] || {}).body,
			'databaseComment': DecommentUtil.escapeNewlineCharacter(this.databaseComment),
			'commentVersion': this.commentVersion || 0,
			'inputAuthor': this.inputAuthor,
			'authors': this.authors || [],
			'previousPieces': this.previousPieces || []
		};
	}
};

## ===================================================================================
##                                                                           Decomment
##                                                                           =========
/**
 * @author deco
 * @author cabos
 */
function Decomment() {
	this.storeClient = new StoreClient()
}
Decomment.prototype = {

	/**
	 * init
	 */
	init: function () {
		if (document.getElementById("intro_opening") !== null) {
			this.fetchVirtualPickup();
			this.setupKeyDownEvent();
			this.showUserNameInputIfNeed();
		} else {
			this.reflectEmbeddedPickup();
		}
	},

	/**
	 * Fetch virtual pickup from server
	 */
	fetchVirtualPickup: function () {
		var that = this;
		new ApiClient().fetchDecomment(function(response) {
			var decomment = JSON.parse(response);
			that.reflectPickup(decomment);
			that.setupSaveDecomment();
		})
	},

	/**
	 * Show user name input when decomment server mode.
	 */
	showUserNameInputIfNeed: function() {
		if (DecommentUtil.isDecommentServer() && this.isUserNameEmpty()) {
			document.querySelector('#decomment-user-name').style.display = 'block';
		}
	},

	hideUserNameInput: function() {
		document.querySelector('#decomment-user-name').style.display = 'none';
	},

	/**
	 * Reflect embedded pick
	 */
	reflectEmbeddedPickup: function () {
		this.reflectPickup(this.storeClient.embeddedPickup);
	},

	/**
	 * Reflect pickup
	 * @param {Object} decomment - Decomment object
	 */
	reflectPickup: function (decomment) {
		var that = this;
		this.storeClient.unmappedTableArea.clear();
		this.storeClient.unmappedColumnArea.clear();
		this.storeClient.storePickup(decomment);
		var pickup = this.storeClient.getDecomments()
		Array.prototype.forEach.call(pickup, function (table) {
			table.reflectToHtml();
			for (var key in table.columns) {
				var column = table.columns[key]
				column.reflectToHtml();
			}
		});
		this.storeClient.unmappedTableArea.reflect();
		this.storeClient.unmappedColumnArea.reflect();
	},

	/**
	 * Setup save decomment event
	 * @param {string} table - Table name
	 */
	setupSaveDecomment: function(schemeName) {
		this.setupSaveTableComment();
		this.setupSaveColumnComment();
	},

	/**
	 * Setup save table comment event
	 */
	setupSaveTableComment: function() {
		var that = this;
		var tableList = document.getElementById('table-list-body').querySelectorAll('tr');
		Array.prototype.forEach.call(tableList, function (table) {
			var tableName = table.querySelector('.namecell').getAttribute('data-name');
			var commentElement = table.querySelector('.commentcell');
			that.setupSaveTableClickEvent(tableName, commentElement);
		});
		var commentTables = document.querySelectorAll('.tablecomment')
		Array.prototype.forEach.call(commentTables, function (tableElement) {
			var tableName = tableElement.getAttribute('data-name');
			that.setupSaveTableClickEvent(tableName, tableElement);
		});
	},

	/**
	 * Setup save table comment click event to html
	 * @param {string} tableName - Table name
	 * @param {Object} commentElement - Comment element
	 */
	setupSaveTableClickEvent: function(tableName, commentElement) {
		var tableProperty = this.storeClient.getTablePickup(tableName) || new PickupTableProperty(tableName, null)
		commentElement.onclick = this.createSaveDecommentFunction(tableProperty);
	},

	/**
	 * Setup save column comment event
	 */
	setupSaveColumnComment: function () {
		var tables = document.getElementsByClassName('tablecontent');
		var that = this;
		Array.prototype.forEach.call(tables, function (table) {
			var columns = table.getElementsByTagName('tr');
			Array.prototype.forEach.call(columns, function (column, index) {
				if (index === 0) { // because table header
					return
				}

				var commentElement = column.querySelector('.commentcell');
				var tableName = that.getTableNameFromElement(table);
				var columnName = column.querySelector('.columnnamecell').innerText;
				var columnProperty = that.storeClient.getColumnPickup(tableName, columnName) || new PickupTableProperty(tableName, columnName)
				commentElement.onclick = that.createSaveDecommentFunction(columnProperty);
			});
		});
	},

	/**
 	 * Create save decomment function
	 * param {object} commentProperty - Comment property
	 * returns {function} Save decomment function
	 */
	createSaveDecommentFunction: function (commentProperty) {
		var that = this;
 		return function () {
	 		var modalElement = document.getElementById("decomment-modal");
			modalElement.style.display = "block";

			document.getElementById("decomment-modal-column-info").innerText = commentProperty.toDialogTitle();

			var inputElement = document.getElementById("decomment-input");
			var previousWholeComment = commentProperty.getDisplayHtmlComment();
			inputElement.value = previousWholeComment;
			inputElement.focus();

			document.getElementById("decomment-close").onclick = function () {
				modalElement.style.display = "none";
			};

			document.getElementById("decomment-ok").onclick = function () {
				var decomment = inputElement.value;
				if (DecommentUtil.isDecommentServer() && that.isUserNameEmpty()) {
					alert('Input your user name.');
					return;
				}
				if (that.isStillConflicting(decomment)) {
					alert('Still conflicting. please resolve.')
					return;
				}
				if (!that.isCommentChanged(previousWholeComment, decomment)) {
					modalElement.style.display = "none";
					return;
				}
				decomment = DecommentUtil.escapeInputText(decomment);
				decomment = DecommentUtil.deleteUnnecessaryWhitespace(decomment);
				commentProperty.decomments = [{'body': decomment}]
				commentProperty.inputAuthor = that.getUserName();
				var params = commentProperty.toRequestParams()
				new ApiClient().saveDecomment(params, function () {
					that.fetchVirtualPickup();
					that.hideUserNameInput();
				});
				modalElement.style.display = "none";
			};

			window.onclick = function (event) {
				if (event.target == modalElement) {
					modalElement.style.display = "none";
				}
			};
		};
	},

	/**
	 * Get user name. and save to cookie if not saved.
	 */
	getUserName : function() {
		var savedUserName = this.getCookie('decomment-user-name');
		if (savedUserName) {
			return savedUserName;
		}
		var inputUserName = document.querySelector('#decomment-user-name').value;
		if (inputUserName && inputUserName.length > 0) {
			document.cookie = "decomment-user-name=" + inputUserName + ";expires=2147483647";
		}
		return inputUserName;
	},

	/**
	 * Check user name is inputed.
	 */
	isUserNameEmpty : function() {
		return this.getCookie('decomment-user-name') === null && this.getUserName().length === 0;
	},

	/**
	 * Get cookie from key
	 */
	getCookie: function (key){
		var cookies = document.cookie.split('; ');
		for (var i = 0; i < cookies.length; i++){
			var c = cookies[i].split('=');
			if(c[0] === key){
				return c[1];
			}
		}
		return null;
	},

	/**
	 * Setup key down event
	 */
	setupKeyDownEvent : function() {
		document.onkeydown = function (e) {
			// ESC
			if(e.keyCode == 27){
				var modalElement = document.getElementById("decomment-modal");
				modalElement.style.display = "none";
			}
		}
	},

	/**
	 * Get table name
	 * @param {Object} table - Table element
	 * @returns {string} table name
	 */
	getTableNameFromElement: function (table) {
		var previousElement = table.previousElementSibling;
		return previousElement.value;
	},

	/**
	 * Check still conflicting
	 * @param {string} decomment - decomment
	 * @returns {Boolean} is still conflicting
	 */
	isStillConflicting: function(decomment) {
		return decomment.includes('=======');
	},

	/**
	 * Check new decomment and previous comment is different
	 * @param {string} tableName - Table name
	 * @param {string} columnName - Column name
	 * @param {string} decomment - decomment
	 * @returns {Boolean} is changed
	 */
	isCommentChanged: function (previousWholeComment, decomment) {
		if (previousWholeComment) {
			return previousWholeComment.trim() !== decomment.trim();
		}
		return decomment.trim().length != 0;
	}
};

## ===================================================================================
##                                                            Decomment Unmapped Table
##                                                            ========================
## -----------------------------------------------------
##                          Decomment Unmapped Table Row
##                          ----------------------------
/**
 * @author cabos
 */
function UnmappedTableRow () {
}
UnmappedTableRow.prototype = {

	/**
	 * Initialize unmapped table row
	 * @param {number} row number
	 * @param {object} table
	 */
	init: function (rowNum, table) {
		this.rowNum = rowNum;
		this.tableName = table.tableName;
		this.mappedTableNameList = Array.prototype.map.call(table.mappings, function (mapping) {
			return mapping.newTableName;
		});
		this.previousMappingList = Array.prototype.map.call(table.mappings, function (mapping) {
			return mapping.mappingCode;
		});
		this.authorList = Array.prototype.map.call(table.mappings, function (mapping) {
			return mapping.mappingOwner;
		});
	},

	/**
	 * Convert unmapped table row to string
	 * @returns {string} Unmapped table row
	 */
	toDisplayHtmlString: function () {
		return '<tr id="unmapped-table-row-' + this.tableName + '">'
		+ '<td class="rownumcell">' + this.rowNum + '</td>'
		+ '<td class="namecell">' + this.tableName + '</td>'
		+ '<td class="namecell tableconflictcell">' + this.toConflictDisplayHtmlString() + '</td>'
		+ '<td class="tableselectorcell">' + '</td>'
		+ '</tr>';
	},

	toConflictDisplayHtmlString: function() {
		return Array.prototype.reduce.call(this.mappedTableNameList, function (currentStrs, name) {
			if (currentStrs.length === 0) {
				return name;
			}
			return currentStrs + "<br>" + name ;
		}, '');
	},

	isTableNameConflict: function() {
		return this.previousMappingList.length >= 2;
	}
}

## -----------------------------------------------------
##                         Decomment Unmapped Table Area
##                         -----------------------------
/**
 * @author cabos
 */
function UnmappedTableArea() {
	this.rows = [];
}
UnmappedTableArea.prototype = {

	/**
	 * Push unmapped table
	 */
	push: function (table) {
		var row = new UnmappedTableRow();
		row.init(this.rows.length + 1, table);
		this.rows.push(row);
	},

	/**
	 * Activate unmapped table field
	 */
	activate: function () {
		if (document.getElementById("intro_opening") === null) {
			return;
		}

		var unmappedElements = document.getElementById('unmapped-tables');
		unmappedElements.style.display = 'inline';
		var that = this;
		document.getElementById('table-mapping-submit-button').onclick = function() {
			that.postMappingTable();
		};
	},

	/**
	 * Clear unmapped table field
	 */
	clear: function () {
		var tbody = this.getTableBodyElement();
		tbody.innerHTML = '';
		this.rows = [];

		var unmappedElements = document.getElementById('unmapped-tables');
		unmappedElements.style.display = 'none';
	},

	/**
	 * Reflect unmapped table body
	 */
	reflect: function () {
		if (this.rows.length === 0) {
			return;
		}

		this.activate();

		var tbody = this.getTableBodyElement();
		tbody.innerHTML += this.toDisplayHtmlString();
		this.showTableSelector();

		if (!this.isTableNameConflict()) {
			document.querySelector('#unmapped-table-head th.conflictcell').style.display = 'none';
			Array.prototype.forEach.call(document.getElementsByClassName('tableconflictcell'), function (cell) {
				cell.style.display = 'none'
			});
		}
	},

	isTableNameConflict: function () {
		return Array.prototype.some.call(this.rows, function (row) {
			return row.isTableNameConflict();
		});
	},

	/**
	 * Show table selector
	 *	<select>
	 *		<option>TABLE_NAME1</option>
	 *		<option>TABLE_NAME2</option>
	 *		<option>TABLE_NAME3</option>
	 *		...
	 *	</select>
	 * @returns {string} show table selector
	 */
	showTableSelector: function () {
		var tableSelector = this.createTableSelector();
		var tableSelectorCellList = document.getElementsByClassName('tableselectorcell');
		Array.prototype.forEach.call(tableSelectorCellList, function (cell) {
			cell.innerHTML = tableSelector;
		});
	},

	/**
	 * Create select list of table
	 * @returns {string}
	 */
	createTableSelector: function () {
		var tableNameList = this.getTableNameList();
		var options = Array.prototype.reduce.call(tableNameList, function (currentOptions, name) {
			return currentOptions + '<option>' + name + '</option>';
		}, '');
		return '<select>' + '<option>-</option>' + options + '</select>'
	},

	/**
	 * Get data list
	 * @returns {array} table name list
	 */
	getTableNameList: function () {
		var trs = document.getElementById('table-list-body').getElementsByTagName('tr');
		var tableList = [];
		for (var i = 0, max = trs.length; i < max; i++) {
			tableList.push(trs[i].getElementsByTagName('td')[NAME_INDEX].innerText);
		}
		return tableList;
	},

	/**
	 * Get Unmapped table body element
	 * @returns {object} Unmapped table body element
	 */
	getTableBodyElement: function () {
		return document.getElementById('unmapped-table-body');
	},

	/**
	 * Convert to string
	 * 	<tr>
	 *		<td class="rownumcell">1</td>
	 *		<td class="namecell">OLD_TABLE_NAME1</td>
	 *		<td class="columnselectorcell">
	 *		</td>
	 *	</tr>
	 * 	<tr>
	 *		<td class="rownumcell">1</td>
	 *		<td class="namecell">OLD_TABLE_NAME2</td>
	 *		<td class="columnselectorcell">
	 *		</td>
	 *	</tr>
	 *  ....
	 * @returns {string} Unmapped table rows
	 */
	toDisplayHtmlString: function () {
		return Array.prototype.reduce.call(this.rows, function (currentRows, row) {
			return currentRows + row.toDisplayHtmlString();
		}, '');
	},

	postMappingTable: function() {
		var mappings = Array.prototype.map.call(this.rows, function (row) {
			var newTableName = document.getElementById('unmapped-table-row-' + row.tableName).children[3].children[0].value;
			return {
				oldTableName: row.tableName,
				newTableName: newTableName,
				targetType: 'TABLE',
				authors: row.authorList,
				previousMappings : row.previousMappingList
			};
		});

		mappings = Array.prototype.filter.call(mappings, function(mapping) {
			return mapping.newTableName !== '-';
		});

		if (mappings.length === 0) {
			return;
		}

		var params = { mappings: mappings };
		var successCallback = function() {
			window.location.reload();
		};
		new ApiClient().postMapping(params, successCallback);
	},
}

## ===================================================================================
##                                                           Decomment Unmapped Column
##                                                           =========================
## -----------------------------------------------------
##                         Decomment Unmapped Column Row
##                         -----------------------------
/**
 * @author cabos
 */
function UnmappedColumnRow () {
}
UnmappedColumnRow.prototype = {

	/**
	 * Initialize unmapped column row
	 * @param {number} Row number
	 * @param {string} Old table name
	 */
	init: function (rowNum, table, column) {
		this.rowNum = rowNum;
		this.tableName = table.tableName;
		this.oldColumnName = column.columnName;

		this.mappedColumnNameList = Array.prototype.map.call(column.mappings, function (mapping) {
			return mapping.newTableName + '.' + mapping.newColumnName;
		});
		this.previousMappingList = Array.prototype.map.call(column.mappings, function (mapping) {
			return mapping.mappingCode;
		});
		this.authorList = Array.prototype.map.call(column.mappings, function (mapping) {
			return mapping.mappingOwner;
		});
	},

	/**
	 * Convert unmapped column row to string
	 * @returns {string} Unmapped column row
	 */
	toDisplayHtmlString: function () {
		return '<tr id="unmapped-column-row-' + this.oldColumnName + '">'
		+ '<td class="rownumcell">' + this.rowNum + '</td>'
		+ '<td class="namecell">' + this.tableName + '</td>'
		+ '<td class="namecell">' + this.oldColumnName + '</td>'
		+ '<td class="namecell columnconflictcell">' + this.toConflictDisplayHtmlString() + '</td>'
		+ '<td id="columnselectorcell-' + this.tableName + '-' + this.oldColumnName + '">' + '</td>'
		+ '</tr>';
	},

	toConflictDisplayHtmlString: function() {
		return Array.prototype.reduce.call(this.mappedColumnNameList, function (currentStrs, name) {
			if (currentStrs.length === 0) {
				return name;
			}
			return currentStrs + "<br>" + name ;
		}, '');
	},

	isColumnNameConflict: function() {
		return this.previousMappingList.length >= 2;
	}
}

## -----------------------------------------------------
##                        Decomment Unmapped Column Area
##                        ------------------------------
/**
 * @author cabos
 */
function UnmappedColumnArea() {
	this.rows = [];
}
UnmappedColumnArea.prototype = {

	/**
	 * Push unmapped column
	 */
	push: function (table, column) {
		var row = new UnmappedColumnRow();
		row.init(this.rows.length + 1, table, column);
		this.rows.push(row);
	},

	/**
	 * Activate unmapped column field
	 */
	activate: function () {
		if (document.getElementById("intro_opening") === null) {
			return;
		}

		var unmappedElements = document.getElementById('unmapped-columns');
		unmappedElements.style.display = 'inline';
		var that = this;
		document.getElementById('column-mapping-submit-button').onclick = function() {
			that.postMappingColumn();
		};
	},

	/**
	 * Clear unmapped column field
	 */
	clear: function () {
		var tbody = this.getColumnBodyElement();
		this.rows = [];
		tbody.innerHTML = '';

		var unmappedElements = document.getElementById('unmapped-columns');
		unmappedElements.style.display = 'none';
	},

	/**
	 * Reflect unmapped column field
	 */
	reflect: function () {
		if (this.rows.length === 0) {
			return;
		}

		this.activate();

		var tbody = this.getColumnBodyElement();
		var that = this;
		Array.prototype.forEach.call(this.rows, function (row) {
			tbody.innerHTML += row.toDisplayHtmlString();
			that.displayColumnSelector(row.tableName, row.oldColumnName);
		});

		if (!this.isColumnNameConflict()) {
			document.querySelector('#unmapped-column-head th.conflictcell').style.display = 'none';
			Array.prototype.forEach.call(document.getElementsByClassName('columnconflictcell'), function (cell) {
				cell.style.display = 'none'
			});
		}
	},

	isColumnNameConflict: function () {
		return Array.prototype.some.call(this.rows, function (row) {
			return row.isColumnNameConflict();
		});
	},

	/**
	 * Display column selector
	 */
	displayColumnSelector: function (tableName, oldColumnName) {
		var columnSelector = this.createColumnSelector(tableName);
		var columnSelectorCell = document.getElementById('columnselectorcell-' + tableName + '-' + oldColumnName);
		columnSelectorCell.innerHTML = columnSelector;
	},

	/**
	 * Create select list of column
	 *	<select>
	 *		<option>COLUMN_NAME1</option>
	 *		<option>COLUMN_NAME2</option>
	 *		<option>COLUMN_NAME3</option>
	 *		...
	 *	</select>
	 * @returns {string} Column selector
	 */
	createColumnSelector: function (tableName) {
		var columnNameList = this.getColumnNameList(tableName);
		var options = Array.prototype.reduce.call(columnNameList, function (currentOptions, name) {
			return currentOptions + '<option>' + name + '</option>';
		}, '');
		return '<select>' + '<option>-</option>' + options + '</select>'
	},

	/**
	 * Get column name list by table name
	 * @returns {array} column name list
	 */
	getColumnNameList: function (tableName) {
		var trs = document.getElementById(tableName.toLowerCase() + '-body').getElementsByTagName('tr');
		var columnList = [];
		for (var i = 0, max = trs.length; i < max; i++) {
			// TODO check that column name column num is 6
#if ($isAliasDelimiterInDbCommentValid)
			columnList.push(trs[i].getElementsByTagName('td')[7].innerText);
#else
			columnList.push(trs[i].getElementsByTagName('td')[6].innerText);
#end
		}
		return columnList;
	},

	/**
	 * Get Unmapped column body element
	 * @returns {object} Unmapped column body element
	 */
	getColumnBodyElement: function () {
		return document.getElementById('unmapped-column-body');
	},

	/**
	 * Convert to string
	 * 	<tr>
	 *		<td class="rownumcell">1</td>
	 *		<td class="namecell">TABLE_NAME1</td>
	 *		<td class="namecell">OLD_COLUMN_NAME1</td>
	 *		<td class="columnselectorcell">
	 *		</td>
	 *	</tr>
	 * 	<tr>
	 *		<td class="rownumcell">1</td>
	 *		<td class="namecell">TABLE_NAME2</td>
	 *		<td class="namecell">OLD_COLUMN_NAME2</td>
	 *		<td class="columnselectorcell">
	 *		</td>
	 *	</tr>
	 *	....
	 *	@returns {string} Unmapped column rows
	 */
	toDisplayHtmlString: function () {
		return Array.prototype.reduce.call(this.rows, function (currentRows, row) {
			return currentRows + row.toDisplayHtmlString();
		}, '');
	},

	postMappingColumn: function() {
		var mappings = Array.prototype.map.call(this.rows, function (row) {
			var tableName = row.tableName;
			var oldColumnName = row.oldColumnName;
			var selectorCellId = 'columnselectorcell-' + tableName + '-' + oldColumnName;
			var newColumnName = document.getElementById(selectorCellId).children[0].value;
			return {
				oldTableName: tableName,
				oldColumnName: oldColumnName,
				newTableName: tableName,
				newColumnName: newColumnName,
				targetType: 'COLUMN',
				authors: row.authorList,
				previousMappings : row.previousMappingList
			};
		});

		mappings = Array.prototype.filter.call(mappings, function(mapping) {
			return mapping.newColumnName !== '-';
		});

		if (mappings.length === 0) {
			return;
		}

		var params = { mappings: mappings };
		var successCallback = function() {
			window.location.reload();
		};
		new ApiClient().postMapping(params, successCallback);
	}
}
new Decomment().init();
</script>
</body>
</html>
