# common
/target
/build
/bin
.DS_Store

# IntelliJ IDEA
**/.idea/*
!**/.idea/codeStyles
!**/.idea/inspectionProfiles
!**/.idea/encodings.xml
!**/.idea/misc.xml
!**/.idea/saveactions_settings.xml
**/*.iml
/out

# Gradle
/.gradle

# DBFlute
/dbflute-intro.*
/mydbflute/intro_resources

# application
/release.properties
/pom.xml.releaseBackup